[2014-07-22 08:04] aneesh-neelam opened #1 "NPM postinstall script fails on Microsoft Windows"
The npm postinstall script is defined for Unix-based systems. The path separator used is incompatible with Windows systems. But Windows' path separator is incompatible with Unix systems.

Heroku's default Node.js buildpack only runs:

[code]

Therefore the postinstall script is required to obtain bower components on Heroku, which runs Ubuntu Linux.

On Windows systems, run:

[code]

Ignore the npm

[2014-07-22 08:09] #1 closed, assigned to aneesh-neelam

[2014-07-22 14:13] aneesh-neelam opened #2 "Captcha Parsing"
Automated parsing of the captcha during login needs to be implemented. @karthikb351

Oh and by the way, I am allowing you can edit only the following files for this particular feature:
[this](https://github.com/aneesh-neelam/VITacademics/blob/master/api/vellore/login/captcha.js) and [this](https://github.com/aneesh-neelam/VITacademics/blob/master/package.json)
:-P

[2014-07-23 19:01] saurabhsjoshi opened #3 "Change Timetable day response to JSON"
This

to this

[2014-07-24 04:03] #3 closed, assigned to aneesh-neelam

[2014-07-24 04:07] aneesh-neelam opened #5 "Embedded Courses in Timetable Day JSON"
For embedded courses, the lab and theory slots have the common course code in the timetable HTML.

Must also check if the course type is the same and only then match it with the Class Number.

Thanks for pointing this out, @saurabhsjoshi

[2014-07-24 08:06] aneesh-neelam commented on #5
This bug has been fixed in 54364666e0efb98362ec08504ff9a1a07eef46c6

Deployed updated code to:
[Development](http://vitacademics-dev.herokuapp.com/)
[Release](http://vitacademics-rel.herokuapp.com/)

[2014-07-24 08:07] #5 closed, assigned to aneesh-neelam

[2014-07-25 16:20] aneesh-neelam opened #6 "Application Performance & Error Monitoring and Log Management"
Must add
[New Relic](https://newrelic.com/) support
[Logentires](https://logentries.com/) support

To both
[Development](http://vitacademics-dev.herokuapp.com/)
[Release](http://vitacademics-rel.herokuapp.com/)

For a full fledged dashboard for the applications' performance and error monitoring

Also, for a log management system for both the hosted applications

[2014-07-25 16:22] aneesh-neelam commented on #6
Added [New Relic](https://newrelic.com/) and [Logentires](https://logentries.com/) support in commits:
6be8b14cb3ed38eac77921d390ccb4e35547d269
65a05403e4e329baf7acf84028e751a9cd55776e
9e2a0fc10b607dcc6ce3258e811d82beab853b53
c1297288fccd24c62d0e71a9d81368ca1ab4c7e6
d6d12af2830aae09a38f9382036bf60d100c5454
a663efe78214385a2b453b2eb5359d6ebfbd79ae
952cbb825ae3f8a0cbbff6147fc6407873f44b98
945c9a68b6

[2014-07-25 16:22] #6 closed, assigned to aneesh-neelam

[2014-07-25 18:27] biocross commented on #6
Beautiful.

[2014-07-30 16:34] aneesh-neelam opened #7 "Timetable Sharing with Friends (Token System)"
Sharing timetable with friends using a 6 character length alphanumeric string.

The timetable data for every user is already present in MongoDB, just need to implement the token generator and the handlers. Modify the first time data handler to also respond with a new generated token.

Must be implemented for both Vellore and Chennai APIs.

[2014-07-30 16:39] aneesh-neelam opened #8 "Chennai Backend API"
The Chennai API must be fully implemented, to be on par with the Vellore one.

[2014-08-03 07:01] aneesh-neelam commented on #8
Is Parent Login for the Chennai campus down? It has been for a while.

This is the right URL right? [Chennai Parent Login](http://27.251.145.3/parent/)

@saurabhsjoshi, @biocross, @karthikb351

[2014-08-03 19:24] saurabhsjoshi commented on #8
Yes that is the correct URL and yes it's been down for more than a week now. Even while it was working they had not updated it to show the latest semester details.

[2014-08-08 09:09] aneesh-neelam commented on #7
Added this feature in the following commits:
1af52ba2eabd27065a819f7e24893835641deebd
565c13cc1b75f66d03dd5e296ddbf799a3ba7205
f0bc85937d13ed7f95e51f15675d9026011cd509
5107fb86824428a6faf10bb08bd02fe04c233963
335d95ffb73be89ba8c1e987f5082821090c9171

Updated app deployed to [Development](http://vitacademics-dev.herokuapp.com/)

Testing feature in [Development](http://vitacademics-dev.herokuapp.com

[2014-08-08 09:17] aneesh-neelam commented on #7
Deployed updated app to [Release](http://vitacademics-rel.herokuapp.com/)

Updated the API Documentation at the [Project Wiki](https://github.com/aneesh-neelam/VITacademics/wiki)

[2014-08-08 09:17] #7 closed, assigned to aneesh-neelam

[2014-08-08 09:29] aneesh-neelam opened #9 "Encryption of GET Request Content"
@biocross suggested that we encrypt the RegNo and DoB data in the client before a request to the Backend is made. However, the response data is not to be encrypted.

In this case, either a single private key (symmetric encryption) can be used or a public-private key pair (asymmetric encryption) can be used.

In my opinion, asymmetric encryption would be a better choice. I can easily hide the priva

[2014-08-08 09:35] aneesh-neelam opened #10 "VITacademics SDK"
@karthikb351 suggested that we release our own SDK for other developers, so they can use our API's for their own projects.

For example, if they want to integrate VITacademics into their own app they can use our *.jar, *.dll, *.so or whatever in their projects, effectively allowing others to create their own customized VITacademics client applications.

What do you guys say? @biocross @saurabhsjos

[2014-08-08 09:40] aneesh-neelam commented on #8
Parent Login for Chennai is still down, and I have not come across any other URLs for it.

[2014-08-09 17:06] biocross commented on #8
Wait, we have got the new URL. Someone submitted it in the feedback.

[2014-08-11 01:26] saurabhsjoshi commented on #8
Yes new URL is http://27.251.102.132/parent/

[2014-08-11 10:09] aneesh-neelam commented on #8
Chennai API is now complete. Implemented in the following commits:
19c246a43e3f8f1bfd69eeebf66314d1d3df7a0b
fe3741d66454524f371b2094e0fe4704c2452dfe

Updated code deployed to:
[Development](http://vitacademics-dev.herokuapp.com/)
[Release](http://vitacademics-rel.herokuapp.com/)

Updated the API documentation in the [Project Wiki](https://github.com/aneesh-neelam/VITacademics/wiki)

**However [Par

[2014-08-11 10:09] #8 closed, assigned to aneesh-neelam

[2014-10-07 08:37] aneesh-neelam commented on #2
OK, I've been researching this.

The Captcha is in a standard Node.js Buffer. You can find out more about Node.js Buffers from [here](http://nodejs.org/api/buffer.html). Hence you can extract the data bitwise using the Node.js Buffer API.

Or, you can use a library to extract the pixel data. I've seen:
- [get-pixels](https://github.com/mikolalysenko/get-pixels)
- [node-bitmap](https://github.com/n

[2014-11-04 12:26] aneesh-neelam commented on #9
SSL would be paid. No other way.

[2014-11-04 12:26] #9 closed, assigned to aneesh-neelam

[2014-11-04 12:33] aneesh-neelam commented on #2
OK, using the [Node.js Buffer Library](http://nodejs.org/api/buffer.html), we have managed to get the captcha's pixel array from the HTTP response data buffer.

Now all that is left, is matching the pixels with the mask of each character. @karthikb351

Check [this](https://github.com/aneesh-neelam/VITacademics/blob/captcha-auto/api/vellore/login/captcha.js) out for the latest developments, until i

[2014-11-08 18:22] aneesh-neelam commented on #8
Chennai API is working again, they've updated the [Parent Login for Chennai Campus](http://27.251.102.132/parent)

I've also fixed a bug with scraping PBL marks for both Vellore and Chennai when there are multiple PBL courses. Only the first course used to be scraped, now all of them are. All theory courses in Chennai campus are PBL.

Check out the [API Documentation](https://github.com/aneesh-nee

[2014-11-09 09:12] biocross opened #11 "Make the API Case Insensitive"
For both Registration number, and Captcha

[2014-11-09 11:29] aneesh-neelam commented on #11
Fixed in 8a20a03ee7652696cf969e9d983949337db38cbe.
RegNo, Captcha are now case-insensitive, they are converted to upper case.

The Token for sharing timetable is still case sensitive.
No validation is performed, clients must take care of that.

[2014-11-09 11:29] #11 closed, assigned to aneesh-neelam

[2014-11-09 17:04] karthikb351 commented on #2
Captcha parser has it's own repository now. Easier for me to track and maintain.

Let's move this discussion [here](https://github.com/karthikb351/CaptchaParser/issues)?.

[2014-11-09 17:39] karthikb351 opened #12 "API-wide authentication"
We should do a basic auth of getting the regno+dob for critical requests.

Things like token refresh and generation currently only require a regno, which is basically no security whatsoever and vulnerable to both exploits as well as spamming.
### Vulnerable Endpoints

[code]
### Possible Solution

When a user hits the `/api/vellore/data/first?regno=(regno)` endpoint, if the details are correct and

[2014-11-10 17:52] aneesh-neelam commented on #12
I had thought of this before. Didn't do it cause I found it too much effort at the time.

Anyway, I think storing the DoB in the cache along with the cookie would be faster than using MongoDB. [node-cache](https://github.com/ptarjan/node-cache) can store anything: objects, arrays, strings etc. I can store the DoB with the cookie.

In anycase, I'll get right on it. Consider it a high priority.

Onl

[2014-11-10 17:55] aneesh-neelam commented on #2
OK, but please get it done as quickly as possible. It's close to completion.

[2014-11-10 18:02] aneesh-neelam opened #13 "Friends Sharing API"
I'll be changing the API for Sharing Timetable with Friends. The endpoints for Vellore and Chennai are currenly separate but similar.

I want to combine the two so that a Vellore campus student would be able to share his/her timetable with his/her Chennai campus friend or vice-versa. If you guys do not want this to be possible, please let me know as soon as possible.

To do this, I'll be combining

[2014-11-10 18:17] karthikb351 commented on #12
Once we've verified that the dob+regno combination is correct (which should happen if `/api/vellore/data/first?regno=(regno)&dob=(dob)` goes through) then just hash and store in cache. We can use the hash to quickly check if the combination is correct then.

[2014-11-10 18:19] karthikb351 commented on #13
This will be a nightmare to handle since they might be having two different timetable formats. Vellore has new slots like H.

[2014-11-11 05:31] aneesh-neelam commented on #2
Not closed until the Captcha Parser is integrated into VITacademics.

[2014-11-11 05:35] aneesh-neelam commented on #12
Cache is only temporary, think of it as volatile storage. Valid for only a few minutes, but enough for getting captcha, logging in and getting data from VIT's server as their cookie is anyway not valid for long.

I was thinking to store the DoB in the cache along with the cookie, valid for the same amount of time, to be used only for authentication.

And for regenerating token, MongoDB can be used

[2014-11-11 05:38] aneesh-neelam commented on #13
First off, do we let a Vellore student share his/her timetable with a Chennai student or vice-versa? If no, then nothing more needs to be done.

If yes, and you want to maintain two separate endpoints for this, this must be implemented in the client itself. When sharing token, also give an option of the campus so that the client will know which endpoint to call.

Still a nightmare on the client si

[2014-11-11 05:51] aneesh-neelam commented on #10
So who's up for writing and building production quality libraries for VITacademics that you can drop into your Android, iOS, Windows, Mac or Linux app?

We might end up using such a library in the official client apps as well.

[2014-11-17 16:50] aneesh-neelam commented on #12
Done! Fixed in ff856b388239d6e299d6e38871f06e7429bb1dbf
Bug fixes in d5618c244c7a0d4220ee3d2afff96056cf804516

[2014-11-17 16:50] #12 closed, assigned to aneesh-neelam

[2014-11-18 17:28] aneesh-neelam commented on #2
Hey, its is being integrated [here](https://github.com/aneesh-neelam/VITacademics/blob/captcha-auto/api/vellore/login/captcha-parser.js), on the [captcha-auto](https://github.com/aneesh-neelam/VITacademics/tree/captcha-auto) branch.

[2014-11-19 12:28] karthikb351 commented on #2
It's done boys :dancer:

d34bea7da5ae823f811e94ce5c1cad176bbfc2be

[2014-11-19 12:28] #2 closed, assigned to karthikb351

[2014-11-19 13:22] karthikb351 opened #20 "Google Analytics event reporting"
How about integrating something like this? We can get better stats on usage. Simple Express middleware.

https://github.com/joshleaves/node-ga

We could potentially log custom values like IPs, Regnos, etc

[2014-11-19 13:26] aneesh-neelam commented on #20
Yeah, I'll check it out.

[2014-11-19 13:37] aneesh-neelam commented on #2
It's ready. Both Vellore and Chennai campuses are now fully functional, with automated Captcha Parsing. Updated Backend deployed to [dev](http://vitacademics-dev.herokuapp.com) and [rel](http://vitacademics-rel.herokuapp.com).

Check updated [API Documentation](https://github.com/aneesh-neelam/VITacademics/wiki) when porting client apps to this.

[2014-11-19 13:43] karthikb351 commented on #20
Set up a new property in the Google Analytics Dashboard. You can use this tracking ID for Node

[code]

[2014-11-20 07:49] karthikb351 opened #21 "Request Throttling"
Limit the number of requests from a particular user.
Ideally, instead of saying it's too frequent, it's better to serve a cached version of the data with a timestamp saying how old the data is.
This works better since the client apps will always receive data on a request.

Maybe use an in-process memcache for this?

[2014-11-20 10:19] aneesh-neelam commented on #21
OK first and foremost, a few clarifications regarding Heroku and Node.js

Heroku calls its instances dynos. We have 750 dyno hours per month for free. And it doesn't scale dynos automatically no matter what, for any language/platform. We'll be runnning only 1 dyno for the entire VITacademics Node.js Backend and Webapp at all times. One Heroku free dyno gives us single core of a 1.7 GHz Intel Xeon

[2014-11-20 12:42] karthikb351 commented on #21
I think we should go with giving the best experience possible. The idea is to completely eliminate the "Session timed out" message. Why does the client have to call `/auto` and then `/refresh` if it's timed out?

Can't `/refresh` log in again by itself?

That's what we should try and achieve. We won't reach any CPU limits anyway, so it won't cost us anything.

[2014-11-20 12:45] karthikb351 opened #22 "Performance Testing"
@aneesh-neelam, I'll need your help for this.

In order to do a proper load test, can you make an auto captcha endpoint that bundles marks, attendance and timetable together and sends it? I can then run the test on just one endpoint. It makes life a lot easier.

[2014-11-20 18:56] karthikb351 commented on #22
Before I begin, a big shout out to @Deborah-Digges for doing most of the work. She took some time out for this, so show a little love boys.

### The Swarm

We tested the API using a load testing framework called [Locust](http://locust.io).

We tested on the two most expensive endpoints
- `/api/vellore/login/auto` : Which does fetches the captcha, parses it and logs in the user.
- `/api/vellore/dat

[2014-11-21 08:36] aneesh-neelam commented on #21
The problem with combining `/data` and `/login` endpoints is that it'll take longer time to respond.
Heroku times out if an endpoint takes longer than 30 seconds to respond.

Now, combining both would mean that the request will take the combined time taken by the numerous HTTP requests made to VIT server(s). Remember, we are making two requests on `/login/auto` and making three requests on `/data/

[2014-11-21 08:39] aneesh-neelam commented on #22
Thanks @Deborah-Digges, this is brilliant.

However, @karthikb351 do check the performance of just the Node.js application hosted on Heroku and MongoDB hosted on MongoLab. You can do `/friends/share` and/or `/friends/regenerate`

Also, `/data/refresh` endpoint is being changed as outlined in #21.

[2014-11-21 08:49] aneesh-neelam opened #23 "Untested Cases"
Hey, I have tried to write the scraper(s) such that they can handle minor changes to the HTML structure. However, I do not know if they will work for the following scenarios:
- Only PBL theory courses' marks, no CBL or Lab or Project courses present. Very possible in VIT Chennai.
- No courses registered, returns an empty array? I don't know.

The good thing is that the scraper does not crash at al

[2014-11-21 14:20] biocross commented on #20
I was thinking, this time we should use Mixpanel Analytics across all our infrastructure. Backend, and frontend, both.

It's really good, and very useful.

[2014-11-21 14:40] aneesh-neelam commented on #21
This is almost done. Will push in an hour.

[2014-11-21 16:50] aneesh-neelam commented on #21
I've implemented what I've suggested in the above comment in ec37d20fb12e29106daee93b47c267afec464f6e

There are Refreshed (date) and Cached (boolean) keys in the JSON now.

I'm closing the issue now, reopen it if we still have issues with VIT's server(s) being slow.

[2014-11-21 16:50] #21 closed, assigned to aneesh-neelam

[2014-11-21 18:45] saurabhsjoshi commented on #20
Noo let's just use Google Analytics everywhere.

[2014-11-21 18:48] biocross commented on #20
Mixpanel Mixpanel! :P

[2014-11-22 12:34] aneesh-neelam commented on #23
Fixed the first case in a4d95e1c29af2d9d814ef75df76647034326315c
Now, all those who have only PBL/RBL and CBL-MBA courses can check their marks as well.

[2014-11-22 13:11] aneesh-neelam commented on #20
Added node-ga in 8980c8dd7673b82d5a6511282dcd19293fc937f6, uses Google Analytics for now. Let's see how it works first.

[2014-11-22 13:11] #20 closed, assigned to nobody

[2014-11-23 14:08] karthikb351 commented on #20
@aneesh-neelam Use the tracking code I gave you? So we have everything in once place.

[2014-11-23 16:33] aneesh-neelam commented on #20
But... I wanna track. :-(

Seriously though, if you want to change the tracking code, just change it in the Heroku environment configuration variables. Do this only for [vitacademics-rel](http://vitacademics-rel.herokuapp.com/) however.

[2014-11-28 05:50] aneesh-neelam commented on #1
Somehow I fixed this for Microsoft Windows as well :-P

[2014-11-28 07:39] baishali-ghosh commented on #1
Yaaay. You're a smartass

On Fri, 28 Nov 2014 11:20 am Aneesh Neelam notifications@github.com wrote:

[2014-11-28 18:28] karthikb351 opened #24 "Documentation and Wiki"
We need to explain the control/flow for this API so are all clear.
- Endpoints to hit, in what order.
- Expected JSON responses from each endpoint.

[2014-11-28 18:32] aneesh-neelam commented on #24
What, [this](https://github.com/aneesh-neelam/VITacademics/wiki) isn't enough?

Anyway, sample output data is required. A lot of changes have been made and [this](https://github.com/aneesh-neelam/VITacademics/tree/master/api/sample-data) hasn't been updated to reflect those changes.

[2014-11-28 18:33] karthikb351 commented on #24
If it's there, good. Let's just put it all in the wiki basically.

[2014-11-28 18:34] aneesh-neelam opened #25 "Unit Testing"
Need to write Tests. The CI already is configured to run them. Check out [this directory](https://github.com/aneesh-neelam/VITacademics/tree/master/test).

[2014-11-28 18:35] aneesh-neelam commented on #24
Some changes are required. Feel free to edit the Wiki or modify the sample data.

[2014-11-28 19:56] karthikb351 opened #26 "Web App"
This is something we haven't really discussed. Are we going ahead and making a webapp for this? Node can handle it easily.

Edit: Follow development at [VITacademics for Web](https://github.com/karthikb351/VITacademics-for-Web)
I'll update this issue when required.

[2014-11-29 08:20] aneesh-neelam commented on #26
OK, you want to do something similar to GCDC, or something else? Like using AngularJS or Polymer?

[2014-11-29 08:23] karthikb351 commented on #26
AngJS will be the right way of doing it. It'll use the same API as the other client apps. NodeJS will only host it.

[2014-11-29 09:49] kishore-narendran opened #27 "When course(s) is withdrawn, timetable is not parsed."

[2014-11-29 10:53] #27 closed, assigned to aneesh-neelam

[2014-11-29 10:55] aneesh-neelam commented on #27
Fixed in c6015188f064f506c824852ff05b7323eaadbf6b

[2014-11-29 10:57] aneesh-neelam commented on #26
Let's do AngularJS + Polymer. :-D
And @karthikb351, I'll need you to take charge for this. I do not know WebApps well enough.

Why don't we get some juniors on this?

[2014-12-18 09:35] ghost opened #31 "Shifting to CoffeeScript"
You guys wanna do a marathon shift of all the javascript to coffescript in a different branch or something will be happy to help you guys

[2014-12-18 09:47] ghost opened #32 "[Urgent] Shifting to an IaaS like Digital Ocean"
I am guessing you guys are using heroku, as far as my experience goes it gets really costly when you scale i suggest you guys shift to something like digital ocean its pricing is insanely cheap if you guys decide to i will be happy to help

[2014-12-18 10:11] aneesh-neelam commented on #32
Digital Ocean is an Infrastructure-as-a-Service, a full-fledged hosting provider. Heroku is a Platform-as-a-Service. A PaaS would greatly reduce our efforts in maintenance and configuration.

I do understand a PaaS is much more expensive, however scaling the Heroku app is unnecessary as we have tested and concluded that our biggest bottleneck is VIT's own server(s). Hence a single Heroku dyno will

[2014-12-18 10:22] sreeram-dev commented on #31
What is the need?

[2014-12-18 10:30] aneesh-neelam commented on #31
I don't think it is possible to shift the whole thing to CoffeeScript. Correct me if I'm wrong. I believe you can shift some part of it, but not the whole thing. Especially, when we're using so many custom JavaScript libraries like [async](https://github.com/caolan/async), [Underscore](http://underscorejs.org/) etc. Check out [package.json](https://github.com/aneesh-neelam/VITacademics/blob/master

[2014-12-18 10:30] ghost commented on #31
It will make the code much less verbose and the code will follow the strict indentation needs of coffescript which will make it much more readable which is important for an open source project like this especially if you want to bring in future collabrators

[2014-12-18 10:32] aneesh-neelam commented on #31
We can use [JSLint](http://www.jslint.com/) for that particular purpose.

[2014-12-18 10:33] ghost commented on #31
Coffescript compiles to javascript,irrespective of the libraries you use you can shift your entire js to coffee

[2014-12-18 10:35] aneesh-neelam commented on #31
OK. If you believe this can be done, then you're free to try. But like I already mentioned, priorities. We're short on manpower.

[2014-12-18 10:37] ghost commented on #32
I get that but if you use something like dokku:https://github.com/progrium/dokku you will have everything you need, i have used it before and it completely emulates heroku in digital ocean and it can be set up in minutes, and your shift to digital ocean in parallel there are more than enough guys in vit who can help you with that.

[2014-12-18 10:38] ghost commented on #31
How can you be short on manpower in VIT dude

[2014-12-18 10:39] ghost commented on #31
And JSLint can never match coffescript that's for sure

[2014-12-18 10:40] aneesh-neelam commented on #32
Yes, I'm aware of that. I checked it out when we got free $100 platform credit for Digital Ocean with the [GitHub Student Developer Pack](https://education.github.com/pack).  But why is it necessary?

[2014-12-18 10:40] sreeram-dev commented on #31
@aashrairavooru make a repo. get a MVP ready. Aneesh has done a good job modularizing things. Codebase is easy to read. As your repo gains traction, contributions will come.
Your point is valid. But we do not have active contributors.

People who can contribute are busy doing their own projects. Majority are still learning to code.

[2014-12-18 10:44] aneesh-neelam commented on #31
Obviously JSLint can't suit all the purposes of CoffeeScript. I didn't mean that. However, we believe it is unnecessarily a lot of effort, rewriting the whole codebase.

However, I shall tell you something. I attempted to convince @saurabhsjoshi, @karthikb351, @biocross and @kishore-narendran to move to this Node.js Backend hosted on Heroku from their own Python GAE-hosted one only after it was al

[2014-12-18 10:48] sreeram-dev commented on #32
docker is also an alternative.
@aashrairavooru  nodejs is a single process application which spawns light weight threads. PAAS are single process (with limited cpu/ram). the stack is made for each other.

Regarding auto scaling, As number of cores increase. number of parallel threads increases. For a nodejs application you need more cpu cores and low ram instances.  Google Compute Engine (cheap an

[2014-12-18 10:54] aneesh-neelam opened #33 "MongoDB Connection Pooling"
I forgot I haven't done this yet. However, I do not think we can use [express-mongo-db](https://github.com/floatdrop/express-mongo-db) as our API functions are not directly under routes.

One option would be to pass along the db variable to each function that requires it, requiring modification of each of the functions. However, better alternatives are welcome.

[2014-12-18 10:59] aneesh-neelam commented on #31
@aashrairavooru: Fork the codebase, make any improvements that you see fit. But do ensure that the integrity of the API Endpoints and the data is intact.

We welcome contributions. However, I mentioned we're short on manpower because very few students are actually interested in contributing to other's projects. As @sreeram-boyapati said, they're busy with their own projects or they're still learni

[2014-12-18 11:04] aneesh-neelam commented on #24
We need documentation regarding the following:
- Contributor Guidelines
- Code Style and Quality
- Features that are yet to be implemented

@karthikb351: Anything else?

[2014-12-18 11:09] aneesh-neelam commented on #32
@aashrairavooru: Regarding Node.js on Heroku, please refer #21, the second post. We would need a load balancer with multiple application instances for scaling, exactly what the Heroku dynos and the Heroku router do.

[2014-12-18 11:10] sreeram-dev commented on #31
http://stackoverflow.com/questions/8952622/why-should-i-really-move-to-coffee-script-how-much-time-does-it-really-save

[2014-12-18 12:01] ghost commented on #32
You can scale using nginx for load balancing,port forwarding etc and nodejs has really improved in its cluster management as well and there are alternatives by strongloop for the same too and using google compute engine might not be a good idea it doesn't have its data centers in asia or asia-pacific digital ocean has one in singapore perfect for this case but if you have credits for the same its

[2014-12-18 12:06] ghost commented on #31
Agree with you @sreeram-boyapati on the above thing. I got only one thing to say on this i am sure you guys are not gonna do this even while you are working right or in 3-4 years to come if you wan't others to maintain and contribute to this project why not make it more readable and easier to understand that's what coffescript was meant for in the first place

[2014-12-18 12:10] ghost commented on #32
@sreeram-boyapati dokku is built upon docker and makes automated deployment really easy anyways we can do automated deployment ourselves using bare git repositories its damn easy https://www.digitalocean.com/community/tutorials/how-to-set-up-automatic-deployment-with-git-with-a-vps

[2014-12-18 12:14] ghost commented on #31
@aneesh-neelam and @sreeram-boyapati will fork it and create an mvp for you guys

[2014-12-18 12:17] aneesh-neelam commented on #31
@aashrairavooru: Thank you. Please let us know how it goes. Also, we shall be documenting the proposed features, please feel free to pitch in. Until then, check out the [Issues](https://github.com/aneesh-neelam/VITacademics/issues), both open and closed and try to make improvements.

[2014-12-18 12:24] aneesh-neelam commented on #32
@aashrairavooru: Its not about it being easy. You can host a Node.js application using a number of providers, documented [here](https://github.com/joyent/node/wiki/node-hosting). I am aware of a number of them.

We're hosting the Node.js app on Heroku and the MongoDB instance on MongoLab. We aren't paying a penny to them either, and neither of them require a credit card to be added for using the f

[2014-12-18 12:42] ghost commented on #32
I have faced crashes in the app before if it is not because of server overload then lets stick with it,but if you do find guys and even i will try to get some people on board will you guys be open to parallel migration and then a permanent shift to Digital ocean,as you said we do we have enough credits with us and i guess your project is about learning as well right then why not try something new

[2014-12-18 12:45] ghost commented on #31
@aneesh-neelam will you be interested in seeing any particular files in coffescript,to see how it will be if there is i will start with them or better assign me a part of the project which i can totally shift to coffescript so that you guys can see how things are with coffee

[2014-12-18 14:17] aneesh-neelam commented on #31
@aashrairavooru: Anything under the [/api directory](https://github.com/aneesh-neelam/VITacademics/tree/master/api) will do. Start with login, then data and then the friends feature. Also, attempt to fix #33 and other issues if possible.

[2014-12-18 14:20] aneesh-neelam commented on #32
@aashrairavooru: You faced a crash in [vitacademics-rel](http://vitacademics-rel.herokuapp.com/)? You will get a 503 error if the connection to VIT's website times out.

IaaS providers like Digital Ocean usually do not have a free plan. We may have free credit for Digital Ocean due to the GitHub Education Pack, but that is limited and could be used for something more worthwhile or maybe something

[2014-12-18 14:46] ghost commented on #31
Will try to fix the #33 my mongo is a little rusty been a while i have been using postgresql these days and i am kind of surprised you went with mongo since heroku supports postgres out of the box and even gives you the postgres dashboard in your free instance

[2014-12-18 14:49] aneesh-neelam commented on #31
We use MongoLab, 512 MB free. Heroku PostgreSQL has a 10k row limit on the free plan.

[2014-12-18 14:53] ghost commented on #31
10K rows aren't enough,what kind of data are you guys packing:)

[2014-12-18 15:03] aneesh-neelam commented on #31
Check out [/api/sample-data](https://github.com/aneesh-neelam/VITacademics/tree/master/api/sample-data) and see for yourself.

Anyway, you should know that we believe CoffeeScript is not something that is worth the time and effort. Think about it, you are talking about converting a JavaScript codebase to a CoffeeScript codebase. And to use CoffeeScript, it must be transcomplied into JavaScript.

C

[2014-12-18 15:10] ghost commented on #31
Coffescript can be learnt in an hour like seriously an hour without any problems and to be frank give me more javascript projects to convert to coffescript thats the only language in the world i want to code in its that beautiful and trust me show a new developer a coffescript code and a javscript code and tell me which one he understands more quickly seriously do this exercise and see for yoursel

[2014-12-18 15:27] aneesh-neelam commented on #31
Rewriting an entire codebase just to make it look beautiful seems too... I don't know.

An hour? You generally don't learn anything in an hour. You figure out the syntax maybe, but that's about it. And that may be true only if someone knows JavaScript/Node.js pretty well in the first place.

JavaScript specifics like callbacks, control flow, prototypes, promises, closures etc. can't be learnt in a

[2014-12-18 15:29] aneesh-neelam commented on #31
You want JavaScript projects? Start off with these:
- [karthikb351/CaptchaParser](https://github.com/karthikb351/CaptchaParser)
- [karthikb351/AutoCaptcha-for-Chrome](https://github.com/karthikb351/AutoCaptcha-for-Chrome)
- [karthikb351/VITacademics-for-Web](https://github.com/karthikb351/VITacademics-for-Web)

VITacademics-for-Web is somewhat large and complex, you can try it out first. Its also

[2014-12-18 15:38] ghost commented on #31
I meant it takes a javascript developer an hour to learn coffee. Why would i shed the freedom to code everything in a single language by going with GO but thats a talk for some other time and place

[2014-12-20 05:35] biocross commented on #31
Boy, you really are in love with coffeescript.

[2014-12-20 10:30] ghost commented on #31
Try it tell me if you don't fall in love with it too

[2014-12-20 14:37] biocross commented on #31
@aashrairavooru

The fact that you can understand the javascript code to convert it to coffeescript assures me it's readable enough.

Also, we're a small group of people who work on these projects whenever we can, so we would really appreciate it if you would use your energy in implementing something new or fixing bugs, instead of re-writing what's already done.

We have a lot of unimplemented ide

[2014-12-20 17:10] ghost opened #34 "Using a single router instance for the entire app"
I see that you create a new router instance for every route how about create a single router instance in app.js and use it for all the routes i have done this in my latest commit to the forked repo check it out
https://github.com/aashrairavooru/VITacademics/commit/13dd4acf5b6daf96983aa2b133f79f75c1c062f7

[2014-12-20 21:34] #31 closed, assigned to nobody

[2015-01-09 08:41] aneesh-neelam commented on #34
I'm sorry, I have been unavailable for a while.
Anyway, what are you talking about and what are you proposing?

[2015-01-09 08:44] aneesh-neelam opened #36 "Grades from Academic History"
The grades must be scraped from Academic History and not the individual semester pages.
Also, changes that have been made to the "status" and JSON formats must be implemented for the grades API as well.

[2015-01-11 05:34] ghost commented on #34
you are using a seperate router instance for every route that you are using instead you can use a single router in your app.js and pass to all your routes as an argument check out app.js in my fork you will get what i am talking about

[2015-01-18 08:19] aneesh-neelam opened #37 "No Courses Registered"
When no courses are registered, the response is incorrectly said to be:
{"message": "Invalid credentials or captcha", code: 12}

[2015-01-19 12:51] aneesh-neelam commented on #37
Fixed in [development](https://github.com/aneesh-neelam/VITacademics/tree/development) branch.

[2015-01-19 12:51] #37 closed, assigned to aneesh-neelam

[2015-01-19 12:52] aneesh-neelam commented on #33
Implemented in [development](https://github.com/aneesh-neelam/VITacademics/tree/development) branch. Requires Env Vars to be changed.

[2015-01-19 12:52] #33 closed, assigned to nobody

[2015-01-19 12:54] aneesh-neelam commented on #34
I'm sorry, but that's not how it works. I'm simply creating different files for each route, thats all.
What you're suggesting to do is no different than how it is now. It is just a change in syntax.

[2015-01-19 12:54] #34 closed, assigned to nobody

[2015-01-19 12:54] aneesh-neelam commented on #36
@kishore-narendran: Branch off from [development](https://github.com/aneesh-neelam/VITacademics/tree/development) branch for this.

[2015-01-19 12:56] aneesh-neelam commented on #13
I've kept the URI's seperate, however from the client's point of view it is possible and quite easy to allow Vellore and Chennai students to share timetables with each other. Its even easier in the [development](https://github.com/aneesh-neelam/VITacademics/tree/development) branch.

[2015-01-19 12:56] #13 closed, assigned to aneesh-neelam

[2015-01-19 12:57] aneesh-neelam commented on #10
I'm guessing [this](https://github.com/biocross/VITacademics-iOS-SDK) is the iOS one. @biocross

[2015-01-19 12:58] aneesh-neelam commented on #23
Fixed no Courses registered. #37

[2015-01-19 12:58] #23 closed, assigned to nobody

[2015-01-19 12:59] aneesh-neelam opened #38 "TxtWeb Support"
TxtWeb support is still pending.

[2015-01-20 18:36] aneesh-neelam opened #39 "System and Global Message HTTP API Endpoint to Client Apps"
An endpoint for clients to get messages/notifications and to also get the latest version of client app or latest supported version of client app by the deployed backend.

[2015-01-20 18:40] karthikb351 opened #40 "Client App Push Notifications + Job Queues"
Register and tie GCM ids to users and implement job queues to dispatch notifications to select clients.

[2015-01-20 18:58] aneesh-neelam opened #41 "Test API for Development branch"
The [development branch](https://github.com/aneesh-neelam/VITacademics/tree/development) has massive changes to the project structure and the code itself. Must be tested before deployed to [vitacademics-rel](http://vitacademics-rel.herokuapp.com/).

It is currently deployed on [vitacademics-dev](http://vitacademics-dev.herokuapp.com/).

[2015-01-21 13:57] aneesh-neelam commented on #39
Implemented in 0286d03bada30822f82496923b79b6be6ffb643c. Must add data to MongoDB.

[2015-01-21 13:57] #39 closed, assigned to aneesh-neelam

[2015-01-21 14:04] aneesh-neelam commented on #41
@karthikb351: Whenever you start your work on the Android app, could you please build it and use it against [vitacademics-dev](http://vitacademics-dev.herokuapp.com/). I wish to deploy that to [vitacademics-rel](http://vitacademics-rel.herokuapp.com/) as soon as possible.

[2015-01-30 19:02] aneesh-neelam opened #42 "Alternative Middleware for CSRF Protection"
I have disabled CSRF Protection in f9bcfaf5fb820d7edc5f964e085147fcc4265eb7.

I checked the logs on [vitacademics-rel](http://vitacademics-rel.herokuapp.com/) where NODE_ENV is set as "production":
"Warning: connect.session() MemoryStore is not designed for a production environment, as it will leak memory, and will not scale past a single process."

[express-session](https://www.npmjs.com/package/

[2015-01-31 07:51] aneesh-neelam commented on #41
Well, since I've already deployed this to production...

[2015-01-31 07:51] #41 closed, assigned to karthikb351

[2015-02-04 08:06] karthikb351 opened #43 "Privacy issue with token system"
When exchanging the token for timetable data at `/api/{campus}/friends/share?token={token}`, we should do a simple check of requesting for the user's regno and dob as well so we know who has pulled who's data.

[2015-02-04 08:12] aneesh-neelam commented on #43
That's actually a privacy issue. Not a security one.

But I get why it is a good thing to do, it'll be done in the next major release. I'm sorry, but this will break the API.

[2015-02-04 08:14] karthikb351 commented on #43
For now build it on dev?
And we should really start having a versioning for our API if it's subject to so many changes so frequently.
My suggestion would be to move to a `/api/v1.1/{campus}/` naming schema so we can keep legacy support easily.

[2015-02-04 08:16] aneesh-neelam commented on #43
The latest development branch is always deployed on dev. The latest release branch is deployed on rel.

About the versioning, let me see what I can do.

[2015-02-04 09:48] karthikb351 opened #44 "Enums for courses, marks"
Right now, our courses list gives a heterogenous list of courses, and there is no standard way for identifying which course type it is.

We should have an enumerated list of course types, and add it as a key for each course so we have a standard way of identifying them.

We should do the same thing for marks.

[2015-02-04 13:23] aneesh-neelam commented on #44
Implemented in 46d2e2f70d3a6a19282a1f32d16dbb5345a6929b. Please verify the [vitacademics-dev](http://vitacademics-dev.herokuapp.com) and see if it works fine.

[2015-02-04 13:23] aneesh-neelam commented on #43
API Versioning implemented in f1f229328862d7dc9669ddc9b6aff79884df3020. Deployed to [vitacademics-dev](https://vitacademics-dev.herokuapp.com/)

[2015-02-04 14:27] aneesh-neelam commented on #44
Done.
Both course_type and marks_type present.
Reopen if necessary.

[2015-02-04 14:27] #44 closed, assigned to nobody

[2015-02-04 14:28] #22 closed, assigned to karthikb351

[2015-02-04 14:31] aneesh-neelam opened #45 "API Route Versioning"
Legacy API
- /api/vellore/vellore
- /api/vellore/chennai

New API
- /api/v2/vellore/vellore
- /api/v2/vellore/chennai

[2015-02-04 14:32] aneesh-neelam commented on #45
Implemented in latest [development branch](https://github.com/aneesh-neelam/VITacademics/tree/development) and deployed to [vitacademics-dev](http://vitacademics-dev.herokuapp.com/).

Will be released in 0.14.

[2015-02-04 14:32] #45 closed, assigned to aneesh-neelam

[2015-02-05 09:24] karthikb351 opened #46 "JSON format"
[code]
- Status messages should be top level since they are always excepted to exist.
- The relevant data should be within a `data` or `results` key.
#### Something like this

[code]

The reason for this is, it's more intuitive and allows you to have a cleaner deserialisation process.
`JSON -> Extract and check status -> proceed with parsing`

[2015-02-05 11:55] aneesh-neelam commented on #46
No.

[2015-02-05 11:55] #46 closed, assigned to nobody

[2015-02-12 09:20] karthikb351 opened #48 "Timetable Spec"
The timetable format is a basic 2D matrix of all the slots with the class numbers filled in at the appropriate places.
This was a lazy approach and made so we could make client apps quicker.
There are several problems with this approach:
- It is upto the client to understand contagious sections of same classnumbers and mark them as a single class.
- We have separate lookup times for the matrixes i

[2015-02-12 09:57] aneesh-neelam commented on #48
And how do you propose we format the data?

Also, should I remove the existing timetable data? Or let it be?

[2015-02-12 10:23] aneesh-neelam opened #49 "Attendance Details Date"
The Attendance Details are in a plain String format, directly parsed from the HTML. Can be converted to native Time format maybe?

[2015-02-12 10:24] aneesh-neelam commented on #48
@karthikb351: Do you expect this for the immediate release or a later date?

[2015-02-12 10:36] VinayGupta23 commented on #48
If I understand correctly,
Suggested by the proposed solution is to move time-table data into the course model, (say for example as a list of [Day, Time] pairs for each course data that is sent).

While this provides a straightforward way to know "WHEN do I have classes for this PARTICULAR SUBJECT?", client-side computation is still required to know "WHAT classes I have on this PARTICULAR DAY?".

[2015-02-12 10:51] aneesh-neelam commented on #49
OK, the HTML from VIT's website shows: "13-Jan-2015".
The backend will parse that and now show "Tue Jan 13 2015".

That fine?

[2015-02-12 10:58] aneesh-neelam commented on #49
Implemented in 468ae452e5b9dab6bafaf7bdf805d83a0c6ba748.

[2015-02-12 11:29] karthikb351 commented on #48
Since an API v2 is on the roadmap, let's move it to that. Legacy can remain where it is, everything in v2 is new.

[code]

[2015-02-12 11:34] karthikb351 commented on #48
@VinayGupta23 No not entirely true. The logic for "What class is when" is trivial, doesn't matter if you look at it day-wise or week-wise. This concept of a matrix is what is redundant.

Other than our the human-readable visual representation of what a week looks like, there is no need for a client to have a 'matrix'. It just needs to know the times of things.

The main issue issue is the way we c

[2015-02-12 11:41] karthikb351 commented on #48
It's jugaad all around. Like this for example.

Calculating slots - https://github.com/saurabhsjoshi/VITacademics-for-Android/blob/lollipop/vitinfo2/src/main/java/com/karthikb351/vitinfo2/objects/TimeTableFiles/TimeTable.java
Calculating times - https://github.com/saurabhsjoshi/VITacademics-for-Android/blob/lollipop/vitinfo2/src/main/java/com/karthikb351/vitinfo2/objects/TimeTableFiles/TTSlot.java

[2015-02-12 11:46] karthikb351 commented on #49
The [ISO 8601](http://www.w3.org/TR/NOTE-datetime) format.
It's  `YYYY-MM-DD`

[2015-02-12 13:31] aneesh-neelam commented on #49
Gee, thanks @karthikb351.

[2015-02-12 13:31] #49 closed, assigned to aneesh-neelam

[2015-02-12 13:34] VinayGupta23 commented on #48
Hmm...
Yeah that's true. I didn't realize how miserable the general timetable has become especially after the introduction of Saturday labs and H and K slots.
Looking at the URLs showing calculations, I see your point. It IS messed up due to the timings not being "uniform".

.............
P.S. On a rather irrelevant note, I feel it is possible to implement some logic with fewer lines of code to ca

[2015-02-13 02:53] karthikb351 commented on #48
@VinayGupta23 It's a long pending fix. If you want to take a crack at implementing this in node, go right ahead.

[2015-02-13 08:15] VinayGupta23 commented on #48
Well this is one way to do it, that also includes
1. H, K slots (theory and lab as well)
2. Saturday labs.
I know servers are not supposed to handle computation in general for excuse me if this novice.
The following is in C#, its pretty straightforward so can be converted to node easily.

### Code

[code]

P.S. All indexes are zero-based.

Then, this is one way by which the parser/scraper can assi

[2015-02-13 09:17] aneesh-neelam commented on #48
It's actually very good. Damn neat.

However, I have something else in mind. I want to get timings when parsing timetable itself.

[2015-02-13 11:24] VinayGupta23 commented on #48
Hmm well code logic could be possible workarounds for apps using the legacy apis I suppose.

@aneesh-neelam
Thank you.
Well THAT would be the neatest thing!

[2015-02-13 11:28] karthikb351 commented on #48
No legacy support needed. We are building this alongside the older api, and then the client apps will switch over.

This is an opportunity to rethink it from the ground up.

[2015-02-13 12:08] aneesh-neelam commented on #48
@VinayGupta23: You are building the Windows app from scratch right now, you shouldn't need to support the Legacy APIs.

[2015-02-13 12:32] VinayGupta23 commented on #48
Of course, I get that...
Sorry if my words were misleading or non-constructive, I was simply making a statement. I did not mean at all that the legacy be modified.

@karthikb351
Migration to newer APIs as you said is of course the final goal... Yeah true.

@aneesh-neelam
Um no I wasn't planning on anything like that either.

Sent from my Windows Phone

---

From: Karthik Balakrishnanmailto:notific

[2015-02-17 09:48] karthikb351 commented on #25
Partially implemented in f643c082f5674ef789cd2972b3546fc7aeef8280

[2015-02-28 11:49] aneesh-neelam commented on #42
CSRF would greatly affect the Endpoints now. Besides, its an API, not a website with sessions.

Reopen issue if necessary.

[2015-02-28 11:49] #42 closed, assigned to nobody

[2015-02-28 11:50] aneesh-neelam commented on #48
This is done now, check latest development branch.

All timings are in UTC.

[2015-02-28 11:50] #48 closed, assigned to aneesh-neelam

[2015-03-11 13:59] aneesh-neelam commented on #36
@kishore-narendran: You want to do this or not?

[2015-03-20 06:24] aneesh-neelam commented on #43
Let's implement this as the first use case for Push Notifications, shall we?

[2015-03-20 06:33] karthikb351 commented on #43
Push is still pending. We need to get that worker process ready so we can actually implement all of this.

[2015-03-20 06:39] aneesh-neelam commented on #43
Alright, but this is the easiest use case for implementing Push Notifications.

Let's start with this is what I'm saying.

[2015-03-20 11:24] ghost opened #54 "Cache expiry headers"
can cache headers be sent wih the api calls, the clients can cache the requests accordingly,Retrofit also has inbuilt support for cacheing based on cache headers @karthikb351 @aneesh-neelam

[2015-03-20 11:30] karthikb351 commented on #54
We aren't making those many URL calls for this to be useful

[2015-03-20 12:01] ghost commented on #54
Using the cache headers will reduce the amount of work we need to write our
own sqlite wrapper, we anyways need to use cached content when offline
On Mar 20, 2015 5:00 PM, "Karthik Balakrishnan" notifications@github.com
wrote:

We aren't making those many URL calls for this to be useful

—
Reply to this email directly or view it on GitHub
https://github.com/aneesh-neelam/VITacademics/issues/54#iss

[2015-03-20 12:23] aneesh-neelam commented on #54
I'm sorry, what?

Are you talking about [this](https://devcenter.heroku.com/articles/increasing-application-performance-with-http-cache-headers).

[2015-03-20 12:27] karthikb351 commented on #54
@aashrairavooru I agree, but we need a database for other things anyway.

[2015-03-20 12:28] aneesh-neelam commented on #54
What are you guys talking about?

[2015-03-20 14:00] aneesh-neelam opened #55 "Cache"
Move the cache that stores Cookie and Token from [node-cache](https://github.com/ptarjan/node-cache) to an external server like Redis or Memcached.

[2015-03-20 14:06] ghost commented on #54
Cache control headers @aneesh-neelam
On Mar 20, 2015 5:58 PM, "Aneesh Neelam" notifications@github.com wrote:

[2015-03-21 09:41] karthikb351 commented on #55
Why? In-process cache is fine right?

[2015-03-21 09:58] aneesh-neelam commented on #55
Doesn't scale to multiple processes. And the cache is destroyed when the server is restarted.

[2015-03-22 09:00] karthikb351 commented on #54
Parked for later.

[2015-03-22 09:00] #54 closed, assigned to nobody

[2015-03-22 09:07] aneesh-neelam opened #56 "ES6"
Now that VITacademics has been running on [io.js](https://iojs.org/en/index.html) successfully for a few weeks, I suppose its time to move on to the newer [JavaScript ECMA-262 specification](http://www.ecma-international.org/publications/standards/Ecma-262.htm).

This will obviously be a rather exploratory process. Conversion shall only happen where it is beneficial or applicable, not for the sake

[2015-03-22 12:35] aneesh-neelam commented on #36
This is done, Unit Tests have been written for this too. However, calculation of semester-wise grades isn't done yet.

[2015-03-22 12:37] aneesh-neelam commented on #25
This is now completely done.

[2015-03-22 12:37] #25 closed, assigned to karthikb351

[2015-03-22 17:14] kishore-narendran opened #59 "Semester Wise Grades"
Find Semester-wise GPA, from Grades Parsing done in #57, Issue #36.

[2015-03-23 09:19] aneesh-neelam commented on #36
Semester Wise Grades moved to #59.

[2015-03-23 09:19] #36 closed, assigned to kishore-narendran

[2015-03-23 13:44] biocross opened #60 "Error on calling v2 Vellore API"
The response reads:

`
Cannot read property 'toUpperCase' of undefined
`

I have passed both regno, and dob parameters in POST.

[2015-03-23 13:45] karthikb351 commented on #60
It's `reg_no` and `dob`

[2015-03-23 13:48] biocross commented on #60
The documentation says it's 'regno'. Also, it seems to work fine from XCode, while it doesn't work on POSTMAN

[2015-03-23 14:12] aneesh-neelam commented on #60
Use curl, as documented on the Wiki. I think you aren't using Postman correctly.

[2015-03-23 14:23] biocross commented on #60
It seems to work now. Alright.

[2015-03-23 14:23] #60 closed, assigned to nobody

[2015-03-23 14:34] biocross opened #61 "What have you guys done?"
I am moving from the legacy API, and some of the changes you guys have done are just plain stupid.

I mean:

Class number is a now an integer - WTF?
Course_type is an Integer -  What in the world?
Unnecesarily changed the date format in the Attendance Details

What are you guys thinking?

[2015-03-23 14:42] aneesh-neelam commented on #61
Keep calm and move to API-v2.

[2015-03-23 17:25] karthikb351 commented on #61
This probably warrants some more discussion. Slack please?

[2015-03-23 17:25] #61 closed, assigned to nobody

[2015-03-25 12:26] aneesh-neelam opened #63 "Faculty Information"
Scrape faculty information from Student Login and store it in our database.

Unfortunately, this means we'll have to manually update this information as VITacademics doesn't go into Student Login as of now.

[2015-03-25 13:07] kishore-narendran commented on #63
I will get you this if you'd like.

[2015-03-25 13:09] aneesh-neelam commented on #63
Unless you're going to get it from the VIT Administration, let @ayushagarwal95 do this.

[2015-03-25 13:28] kishore-narendran commented on #63
That is what my plan was? It would be more comprehensive.

[2015-03-25 13:56] rahulkapoor90 commented on #63
Faculty information like cabin no, email id? I have that.

[2015-03-28 06:30] aneesh-neelam opened #65 "[Priority] Hitting MongoDB size limits on Mongolab"
We don't have any problem now, but we may face one next semester. As of right now, we have 11467 unique users from both Vellore and Chennai campuses, the MongoDB database is using around1008 MB of disk space and the size of the data is 323 MB.

![Alt text](https://dl.pushbulletusercontent.com/xAzqyUUMLnQxhKlFYxWPQUtubaNLYm6W/Capture.PNG)

On the free plan, we have a 512 MB size limit. Right now, w

[2015-03-28 11:16] kishore-narendran commented on #65
What about dumping the data, every semester?

[2015-03-28 11:27] aneesh-neelam commented on #65
We're anyway dumping the data every semester.

We can only support another 6000 users or so. We'll have to store less data per user or split into multiple databases if and when that occurs.

[2015-03-28 11:31] kishore-narendran commented on #65
What about splitting the data such that the attendance data is maintained separately?

[2015-03-28 11:32] aneesh-neelam commented on #65
That is one solution. Let's park this for now. I highly doubt we'll have 6000 new users overnight.

[2015-03-29 11:00] biocross opened #67 "'Subject Type' in API Response"
There's no key in the response that specifies if the subject is an "Embedded Theory", "Lab Only" etc.

There's a subject type key, which returns integers, but I can't find any information on what each number maps to in the documentation.

[2015-03-29 11:06] rahulkapoor90 opened #68 "Marks are not showing in CBL courses"
for the past few days, the marks are not showing up in the CBL courses and a couple of other students have also started complaining about this.

[2015-03-29 16:52] aneesh-neelam commented on #68
The Android app doesn't show marks at the moment, for any course. Please post this issue [here](https://github.com/aneesh-neelam/VITacademics/issues).

[2015-03-29 16:52] #68 closed, assigned to nobody

[2015-03-29 16:58] aneesh-neelam commented on #67
Course Type is present in a key called "course_type". It has the following values:
- CBL Course: 1
- LBC Course: 2
- PBL Course: 3
- RBL Course: 4
- PBC Course with specific information (like Project Title, Guide): 5
- PBC Course with no such information: 6
- Unsupported Course Type: 0

Similarly, Marks Type is present in a key called "marks_type". It has the following values:
- CBL Type: 1
- LBC

[2015-03-29 17:01] biocross commented on #67
Okay, but then how do I get information like "Embedded Theory" and stuff?

[2015-03-29 17:04] aneesh-neelam commented on #67
You can't, at least not now. Why do you need it?

[2015-03-29 17:04] biocross commented on #67
It's an important information to show. And it's readily available on the academics website.

[2015-03-29 17:05] aneesh-neelam commented on #67
OK, I'll add it. The key will be "subject_type". Fine?

[2015-03-29 17:06] biocross commented on #67
Thanks :)

[2015-03-29 17:31] #67 closed, assigned to aneesh-neelam

[2015-03-29 17:32] aneesh-neelam commented on #67
@biocross: "subject_type" added in 32441fc6123feb87e957106bd0ad69c180525ac1. Check sample data [here](https://github.com/aneesh-neelam/VITacademics/blob/32441fc6123feb87e957106bd0ad69c180525ac1/api/sample-data/api-data-refresh_success.json).

[2015-03-29 18:09] #59 closed, assigned to kishore-narendran

[2015-03-29 18:13] aneesh-neelam commented on #59
@kishore-narendran: Grades and Semester-wise GPA is now complete in ddab655719a08e7d6aa1768aadaa877dbd1ab0e5. Check out the sample data [here](https://github.com/aneesh-neelam/VITacademics/blob/ddab655719a08e7d6aa1768aadaa877dbd1ab0e5/api/sample-data/api-grades-success.json).

[2015-03-29 18:31] VinayGupta23 commented on #67
Is there sample data available for RBL and PBC courses?

[2015-03-29 18:42] aneesh-neelam commented on #67
@ayushagarwal95 will send you the details of people who have RBL and PBC courses via private message.

[2015-04-02 16:25] aneesh-neelam commented on #65
OK, it is a more urgent problem than I thought.

![Alt text](https://dl.pushbulletusercontent.com/pTAqRccggPWyMsRF6D69M0BkVaHaVHc0/Screenshot%20from%202015-04-02%2021:53:21.png)

However, it is now solved.

[2015-04-02 16:26] aneesh-neelam commented on #43
Done!
@ayushagarwal95: Need to update API Reference

[2015-04-02 16:27] #43 closed, assigned to aneesh-neelam

[2015-04-02 16:27] #65 closed, assigned to aneesh-neelam

[2015-04-04 10:04] aneesh-neelam opened #75 "Sharing Timetable using Token is Broken"
Due to the way multiple MongoDB instances is implemented, Timetable Sharing using Token no longer works for both API-legacy and API-v2.

Routes affected:
- /api/{campus}/friends/share
- /api/v2/{campus}/share

Must get the `reg_no` from the Cache, using the given Token and then choose the MongoDB Database to pull timetable from.

[2015-04-12 11:46] VinayGupta23 opened #76 "Incorrect class timings for Chennai Campus"
It has been brought to notice that Chennai Campus students have slightly different class timings, that differ from the general timetable of Vellore students.
Owing to this, incorrect timings are being displayed for Chennai students using the client apps. A screenshot of their timetable is attached for reference.

![time table](https://cloud.githubusercontent.com/assets/8874825/7105451/a0dcbc9e-e13

[2015-04-12 12:02] ayushagarwal95 commented on #76
Their timetable format and timings are different which was not known. It will be fixed soon.

[2015-04-13 03:36] VinayGupta23 commented on #76
Sure.
Also, client permissions have been taken, to use the following credentials for testing:

14MMT1019
19061993
chennai

If required, this can be added to the list of test credentials.

Sent from my Windows Phone

---

From: Ayush Agarwalmailto:notifications@github.com
Sent: ‎12-‎04-‎2015 17:32
To: aneesh-neelam/VITacademicsmailto:VITacademics@noreply.github.com
Cc: Vinay Guptamailto:vinay.23.gu

[2015-04-14 13:48] VinayGupta23 opened #77 "Inconsistent data type for GPA in grades Json string"
Regarding the Json string for grades parsing,
The data type for the `"gpa"` key in `"semester_wise"` grades is currently `string`, whereas that of `"cgpa"` is `float`.
However, data types for both gpa and cgpa should be `float'. A portion of the Json is attached for reference:

[code]

[2015-04-14 14:01] VinayGupta23 opened #78 "Possibly unsuitable parsing format for semester-wise grades"
In the Json string for grades, `"semester_wise"` object in turn contains multiple child objects, whereas an array would be more suited since it is a list of semesters.
Find below a sample of the Json, along with suggested change:

Current:

[code]

Suggested change:

[code]

[2015-04-14 14:48] karthikb351 commented on #78
+1 this.

Makes no sense to have the additional nesting.

[2015-04-14 14:49] karthikb351 commented on #77
+1

@aneesh-neelam: You need to watch for these things, else we'll find them too late

[2015-04-15 02:58] kishore-narendran commented on #77
I'll fix them. This would be my bad.

-----Original Message-----
From: "Karthik Balakrishnan" notifications@github.com
Sent: ‎14-‎04-‎2015 20:19
To: "aneesh-neelam/VITacademics" VITacademics@noreply.github.com
Subject: Re: [VITacademics] Inconsistent data type for GPA in grades Jsonstring (#77)

+1
@aneesh-neelam: You need to watch for these things, else we'll find them too late
—
Reply to this em

[2015-04-15 05:17] karthikb351 commented on #77
That's okay. Still prefer to blame @aneesh-neelam. He's overseeing this project.

[2015-04-15 05:36] aneesh-neelam commented on #77
@kishore-narendran: No, I'll fix this.
@karthikb351: Screw you.

[2015-04-15 05:37] aneesh-neelam commented on #63
@kishore-narendran: Could you send this data to me?

[2015-04-15 05:38] aneesh-neelam commented on #55
Parked for now. Will increase latency exponentially.

[2015-04-15 05:38] #55 closed, assigned to ayushagarwal95

[2015-04-15 05:39] aneesh-neelam commented on #26
@kishore-narendran, @ayushagarwal95 and I, @aneesh-neelam are going to do this.
Angular.js + Bootstrap fine?

[2015-04-15 05:40] aneesh-neelam commented on #78
@VinayGupta23: Will convert to an array.

[2015-04-15 06:24] kishore-narendran commented on #63
Will do.

-----Original Message-----
From: "Aneesh Neelam" notifications@github.com
Sent: ‎15-‎04-‎2015 11:07
To: "aneesh-neelam/VITacademics" VITacademics@noreply.github.com
Cc: "Kishore Narendran" kishore.narendran09@gmail.com
Subject: Re: [VITacademics] Faculty Information (#63)

@kishore-narendran: Could you send this data to me?
—
Reply to this email directly or view it on GitHub.

[2015-04-15 07:07] sreeram-dev commented on #77
lol.

[2015-04-15 07:56] #75 closed, assigned to aneesh-neelam

[2015-04-15 07:56] #78 closed, assigned to aneesh-neelam

[2015-04-15 07:57] aneesh-neelam commented on #77
Fixed in 99fc5f28d8370def2b0a38f70f8351ca83f6895c.

[2015-04-15 07:57] #77 closed, assigned to aneesh-neelam

[2015-04-15 07:57] aneesh-neelam commented on #78
Fixed in 22286ab51f9e2cd5fd76b09285831d375d3b99e9.

[2015-04-15 07:58] aneesh-neelam commented on #75
Fixed in 7042dcfa6290e55f47e5e766ed7d7c03f621d145.

[2015-04-17 17:06] aneesh-neelam commented on #76
Fixed in 6352de5fcdc28295e4cf8bb9059f50a77aeb9f53.

[2015-04-20 05:21] kishore-narendran opened #79 "[Priority] API needs phone number as second password"
They've added Parent Mobile Number.

[2015-04-20 05:24] VinayGupta23 commented on #79
Yes. That was so ... hopeless.
Im already receiving complaint mails.

So until this is fixed, ALL apps will remain dysfunctional.

Sent from my Windows Phone

---

From: Kishore Narendranmailto:notifications@github.com
Sent: ‎20-‎04-‎2015 10:51
To: aneesh-neelam/VITacademicsmailto:VITacademics@noreply.github.com
Subject: [VITacademics] Parent login now needs phone number as second password (#79)

[2015-04-20 05:35] biocross commented on #79
Hopefully it won't be so hard to implement, as it's just another field. I'll push an update to the iOS app today itself.

[2015-04-20 06:12] aneesh-neelam commented on #79
You guys should really calm down.

Look at the Android app, it hasn't been working properly for 4 months now. You don't see @karthikb351 panicking.

Will fix this for API v2 soon.

[2015-04-20 06:13] VinayGupta23 commented on #79
Uh lol.
Sure. 👍

Sent from my Windows Phone

---

From: Aneesh Neelammailto:notifications@github.com
Sent: ‎20-‎04-‎2015 11:42
To: aneesh-neelam/VITacademicsmailto:VITacademics@noreply.github.com
Cc: Vinay Guptamailto:vinay.23.gupta@outlook.com
Subject: Re: [VITacademics] Parent login now needs phone number as second password (#79)

You guys should really calm down.

Look at the Android app, it ha

[2015-04-20 06:15] aneesh-neelam opened #80 "Deprecate API Legacy"
Will be deprecating API Legacy as it no longer works due to #79.
Adding mobile number will require a major rework, which eventually will make it identical to API v2.

There will be a new status code for 'Feature Deprecated'.

[2015-04-20 06:17] aneesh-neelam commented on #79
Since this is a high priority bug, I'll be deploying the latest Development build as soon as it passes all tests.

[2015-04-20 06:19] aneesh-neelam commented on #26
@ayushagarwal95: I need the landing page, send Pull Request as soon as possible.

[2015-04-20 06:20] aneesh-neelam commented on #76
There is a problem with the fix in 6352de5fcdc28295e4cf8bb9059f50a77aeb9f53, but was quickly rectified.
@ayushagarwal95: Issue Pull Request as soon as possible.

[2015-04-20 09:44] #79 closed, assigned to aneesh-neelam

[2015-04-20 09:44] #80 closed, assigned to aneesh-neelam

[2015-04-20 09:58] aneesh-neelam commented on #79
Well, there you go. Now, get cracking with the client apps. Check out the updated JSON API [here](https://github.com/aneesh-neelam/VITacademics/wiki/JSON-API).

I've also deployed the latest [Development Build](https://github.com/aneesh-neelam/VITacademics/tree/development) to [vitacademics-rel](https://vitacademics-rel.herokuapp.com/).

[2015-04-20 09:59] aneesh-neelam commented on #80
This is now done. All requests to API Legacy endpoints will now return:

[code]

[2015-04-20 16:28] #76 closed, assigned to ayushagarwal95

[2015-04-20 17:53] aneesh-neelam commented on #79
For @saurabhsjoshi, @biocross, @kishore-narendran, @karthikb351, @VinayGupta23:
By the way, mobile number is added only for the Vellore campus parent login. For Chennai campus, you can send a mobile number string but it'll be ignored.

[2015-04-20 17:57] VinayGupta23 opened #83 "Ambigious attendance information for Chennai campus students"
It has come to notice that Chennai campus have varied slots and hence attendance details which was unexpected and undiscovered as yet. This leads to ambiguity in data and correct information can no longer be shown to Chennai students. Refer to the two attachments below for information.
#### How it appears in their login:

![attendancedata](https://cloud.githubusercontent.com/assets/8874825/7236667

[2015-04-20 17:58] aneesh-neelam commented on #83
Eh, screw Chennai campus.

[2015-04-20 18:02] biocross commented on #79
iOS app has been updated to 3.1.2 (Build 6) to accomodate this change and has been pushed to Apple for an Expedited Review.

[2015-04-20 19:07] #83 closed, assigned to aneesh-neelam

[2015-04-20 19:51] aneesh-neelam commented on #83
Fixed. Added slot field for attendance details.

[2015-04-21 17:31] VinayGupta23 commented on #83
And in case you were thinking that VIT Chennai couldn't get more screwed up, do see the next issue that's coming up :P

[2015-04-21 17:45] VinayGupta23 opened #84 "Possible misplaced "chaining" of timings for some courses in Chennai campus"
Well, following from the recent volley of posts about the Chennai campus (why can they not conform with Vellore),
It has come to notice (yet again) that some theory courses have mixed slots but their timings are to be treated like those of a theory course only.

For example, refer to the Json of the course below for a 2-credit CBL course:

[code]

Here, the slot is "TG1+L18".
However, this is a CB

[2015-04-22 07:29] biocross opened #85 "[CRITICAL] /status returning 404"
The iOS app uses the url "http://vitacademics-rel.herokuapp.com/status" to check connectivity to the backend, and I guess due to a recent change in the backend, this page does not exist anymore. Hence the URL is returning 404.

I know I should have switched to the new status API URL, but for the time being, PLEASE enable the page to return 200 ASAP so that the iOS app can function.

I will switch

[2015-04-22 07:42] #85 closed, assigned to aneesh-neelam

[2015-04-22 07:44] aneesh-neelam commented on #84
I am aware of this. This was done on purpose.
I'm sorry, but this won't be changed.

[2015-04-22 07:53] karthikb351 commented on #84
What nonsense @aneesh-neelam. This is a legitimate issue. We should design this to work even for such cases.

If you want, park it for now. But don't close.

[2015-04-22 08:12] aneesh-neelam commented on #84
Fixing this isn't a problem at all, can do it within minutes. I'm afraid of inconsistency in data.
After all, we want to have common timings for consecutive slots right? Or is that only for lab slots?

[2015-04-22 08:20] VinayGupta23 commented on #84
Well the only reason I don't think its alright to have common timings here is because the attendance is uploaded individually for each session.

If we look at the attendance for any lab slot, it shows like this:
Having "class units" of value 2, and slot as "Lx1+Lx2". This means it is meant to be taken together.
But in the other course it says "class units 1" and is CBL.

So I suppose despite the r

[2015-04-22 08:24] aneesh-neelam commented on #84
The picture hasn't come. Stop using mail, use the GitHub website.

[2015-04-22 08:27] VinayGupta23 commented on #84
The picture is just an attendance details screenshot from parent login for a lab course.

Hey I know, but Im replying from phone right, not in my room right now.

Sent from my Windows Phone

---

From: Aneesh Neelammailto:notifications@github.com
Sent: ‎22-‎04-‎2015 13:54
To: aneesh-neelam/VITacademicsmailto:VITacademics@noreply.github.com
Cc: Vinay Guptamailto:vinay.23.gupta@outlook.com
Subject:

[2015-04-28 13:12] ghost commented on #56
is there a dependency on io.js for this , node versions>0.11 support es6 goodness under the harmony flag doesn't it

[2015-04-28 13:26] aneesh-neelam commented on #56
[io.js](https://iojs.org/en/index.html) uses a newer version of V8 than what [Node.js](https://nodejs.org/) uses.

The ES6 features marked as stable by the [V8](https://developers.google.com/v8/) team are enabled automatically by [io.js](https://iojs.org/en/index.html). Whereas [Node.js](https://nodejs.org/) has all of them (stable and otherwise) under the `--harmony` flag.

Please read all the in

[2015-05-01 15:32] #84 closed, assigned to aneesh-neelam

[2015-05-30 16:17] biocross opened #86 "Switch to the Summer Semester of 2015"
Must now use Summer Semester data.

[2015-06-01 15:45] aneesh-neelam commented on #86
In the process of doing so. Give me a few days.

[2015-06-01 15:53] aneesh-neelam commented on #86
@VinayGupta23: Give me the credentials of people staying back for the Summer Semester 2015, Send them privately, via email, to [me](mailto:neelam.aneesh@gmail.com).

[2015-06-01 16:31] aneesh-neelam opened #87 "Grades does not function on Chennai campus"
The Academic History page on the Chennai campus Parent Login isn't functioning, causing tests to fail. Getting an HTTP 404 error.

[2015-06-02 17:52] VinayGupta23 commented on #86
Btw, servers have been dysfunctional since yesterday. Is that due to the switch?

Sent from my Windows Phone

---

From: Aneesh Neelammailto:notifications@github.com
Sent: ‎01-‎06-‎2015 21:15
To: aneesh-neelam/VITacademicsmailto:VITacademics@noreply.github.com
Subject: Re: [VITacademics] Switch to Summer Sem 2014-15 (#86)

In the process of doing so. Give me a few days.

---

Reply to this email d

[2015-06-03 14:00] aneesh-neelam commented on #86
@VinayGupta23: What do you mean dysfunctional? What went wrong and when did it happen, I want details.

[2015-06-03 14:15] VinayGupta23 commented on #86
HttpStatus 503
Service Unavailable

This is happening on all current APIs.
This is sudden and was being experienced since June 1 (Monday) night.

No changes were made to HTTP calls at my end.

Sent from my Windows Phone

---

From: Aneesh Neelammailto:notifications@github.com
Sent: ‎03-‎06-‎2015 19:30
To: aneesh-neelam/VITacademicsmailto:VITacademics@noreply.github.com
Cc: Vinay Guptamailto:vinay.

[2015-06-03 14:21] aneesh-neelam commented on #86
Are you getting 503s now? And have you been getting them since then?

[2015-06-03 14:30] VinayGupta23 commented on #86
Yes I'm getting 503s now.
I checked both from my PC and phone.

I don't know what I would have been getting before, since I only checked the exact code when you asked.
However, my code was (and is) wrapping up the error as a "Server Error" end-user message.
So it must have been the same.

Sent from my Windows Phone

---

From: Aneesh Neelammailto:notifications@github.com
Sent: ‎03-‎06-‎2015 19:51

[2015-06-03 14:31] aneesh-neelam commented on #86
Are you using vitacademics-dev?

[2015-06-03 14:38] VinayGupta23 commented on #86
Yeah.

Okay I switched to release and it worked fine. So are there some core changes happening in dev?

Sent from my Windows Phone

---

From: Aneesh Neelammailto:notifications@github.com
Sent: ‎03-‎06-‎2015 20:01
To: aneesh-neelam/VITacademicsmailto:VITacademics@noreply.github.com
Cc: Vinay Guptamailto:vinay.23.gupta@outlook.com
Subject: Re: [VITacademics] Switch to the Summer Semester of 2015 (#

[2015-06-03 14:40] aneesh-neelam commented on #86
I shut down vitacademics-dev for maintenance. It's annoying to keep track of both Heroku apps.

Anyway, there are changes, even to the JSON format. I'll keep you posted.

[2015-06-03 14:43] aneesh-neelam commented on #86
Also, never use vitacademics-dev unless I tell you to do so. Open that in the browser: https://vitacademics-dev.herokuapp.com/

[2015-06-03 14:47] VinayGupta23 commented on #86
Oh okay.
Yeah.. Alright.

Sure.
Well for Json changes, I hope at least the basic content pattern is the same and changes mean data types and formatting only :P
Either way, yeah let me know when done.

Okay I'll switch to release for testing the app then now.
Thanks.

Sent from my Windows Phone

---

From: Aneesh Neelammailto:notifications@github.com
Sent: ‎03-‎06-‎2015 20:13
To: aneesh-neelam/VITa

[2015-06-05 08:21] aneesh-neelam opened #89 "Timings calculation must be overhauled"
To properly support Summer Semester, the timings calculation logic must be rewritten and integrated into the existing logic without causing any regressions.

That'll fix #86 as well.

[2015-06-05 17:30] #86 closed, assigned to aneesh-neelam

[2015-06-05 17:30] aneesh-neelam commented on #89
Fixed in #90.

[2015-06-05 17:30] #89 closed, assigned to aneesh-neelam

[2015-06-05 17:30] aneesh-neelam commented on #86
Implemented in #90.

[2015-06-15 16:14] #56 closed, assigned to aneesh-neelam

[2015-06-15 16:19] aneesh-neelam opened #92 "Contributors' Timeline"
It has been pointed out to me that not all of the actual contributions made to the entire VITacademics system are being represented fairly (API Server, Client Apps, Design etc.) except in Copyright Notices present in this project.

After all, we would not want anybody's contribution to be overlooked and we also want to maintain consistency among the client apps, which are also the user-facing comp

[2015-06-15 16:21] aneesh-neelam commented on #63
@kishore-narendran: Please send this data.

[2015-06-16 16:50] biocross opened #93 "Changes to Grades Response Format"
The whole point of building the grades features was to display a table in which people could dynamically change grades, and display the resulting CGPA.

Hence,
- Only display the latest instance of the subject, without any history.
- Don't display withdrawn subjects.

Also, I think the GPA, and CGPA calculation should be left to the client apps.

[2015-06-16 16:56] aneesh-neelam commented on #93
@VinayGupta23: Your thoughts?

[2015-06-16 16:58] kishore-narendran commented on #93
Why don't you filter it out as needed on the client end?

[2015-06-16 16:59] biocross commented on #93
Because it'll be a lot of work on the iOS framework I'm using, and also, why do it 3 times on 3 platforms, when it can be done once?

[2015-06-16 16:59] aneesh-neelam commented on #93
@kishore-narendran: Because he's very lazy. His actual reasoning was [moment.js](http://momentjs.com/) is easier to use than any DateTime iOS library.

[2015-06-16 17:00] biocross commented on #93
That too :P

[2015-06-16 17:03] kishore-narendran commented on #93
I thought it was all supposed to be complete. Okay but this shouldn't be a big change.

[2015-06-16 17:04] aneesh-neelam commented on #93
It is supposed to be complete and it is complete.

[2015-06-16 17:08] VinayGupta23 commented on #93
No.
Its perfect as it is.
I've done a lot of research on the grades that are being sent for various students of all performances.

GPA and CGPA change for a semester as per clearance of arrears and re-term-ends. If we get the subjects alone, the calculated grade semester wise may be incorrect.

Also, getting every single detail (like withdrawal and arrear, N etc) is a way for a user to know exactl

[2015-06-16 17:09] aneesh-neelam commented on #93
@biocross: You're outvoted. Get cracking on Objective-C.

[2015-06-16 17:11] VinayGupta23 commented on #93
Making a calculator feature is a client-end implementation.

@aneesh-neelam :P

[2015-06-16 17:16] #93 closed, assigned to ayushagarwal95

[2015-06-16 17:21] biocross commented on #93
:(

[2015-06-16 17:22] aneesh-neelam commented on #93
@biocross: Consistency man.
Keep calm and code.

[2015-06-16 17:28] biocross commented on #93
alrighty then.

[2015-06-25 07:59] aneesh-neelam commented on #92
OK, I'm adding Name, Email, Role, GitHub profile. Anything else?

[2015-07-01 17:07] aneesh-neelam opened #94 "Faculty Advisor"
Need a new endpoint, (/api/v2/{campus}/advisor) to obtain Faculty Advisor.

Apps should call this the first time when the user logins to the app on the device, and also if the user explicitly asks the app to refresh. (If faculty advisor changes).

[2015-07-01 17:07] aneesh-neelam commented on #63
Need an endpoint for this.

[2015-07-01 17:08] aneesh-neelam commented on #40
Need an endpoint, called when the user logins to the app on the device. (/api/v2/{campus}/register).

Will be called only once.

[2015-07-02 19:26] ayushagarwal95 commented on #40
Could you tell me again as to what is this end point supposed to store in our database?

[2015-07-02 19:44] aneesh-neelam commented on #40
@ayushagarwal95: Will get back to you tomorrow.

[2015-07-10 19:05] aneesh-neelam opened #97 "Invalid Credentials encountered sometimes"
Encountering this even when credentials are correct.

[2015-07-10 19:06] aneesh-neelam commented on #97
For example, try to login using incorrect credentials. And then try to login using correct credentials.

[2015-07-11 12:24] aneesh-neelam opened #98 "New Favicon"
Create a new favicon out of the new logo. Take the logo from [this](https://github.com/CollegeCODE/CreativeContent) repository.

Make sure it is a perfect square, around 300 \* 300 and in PNG format, similar to the existing one.

[2015-07-11 12:31] aneesh-neelam opened #99 "Homepage/Landing Page"
The homepage of the Web API requires some redesigning to make it look prettier. Currently, it looks like [this](https://vitacademics-rel.herokuapp.com/).

As @biocross suggested, we need to put a "Share our App" function in our client apps, so that users can easily send a referral message and a link to the landing page of the API server, to their friends via messaging/email apps (OS Share function

[2015-07-11 12:36] aneesh-neelam commented on #92
This feature is complete, except we still need to populate the database with the contributors' data.

[2015-07-12 05:04] VinayGupta23 commented on #99
Okay, I'll get it done by the next update.

[2015-07-13 09:28] ayushagarwal95 commented on #97
Could you send me the credentials you were trying?

I am unable to replicate the error here.

[2015-07-13 09:32] VinayGupta23 commented on #97
Actually, even I haven't faced such an issue on the Windows app until now.

Maybe it was coincidental.

Also, when I was doing the windows app there was an issue with web pages being cached in the phone itself, due to which the calls were not made everytime. Hence I had to turn that off in the class library. Maybe there could have been a caching problem.

Sent from my Windows Phone

---

From: Ayu

[2015-07-13 10:46] aneesh-neelam commented on #97
@VinayGupta23: Until now?

[2015-07-13 10:56] VinayGupta23 commented on #97
No not in that sense.
As in I haven't faced such an issue.

Sent from my Windows Phone

---

From: Aneesh Neelammailto:notifications@github.com
Sent: ‎13-‎07-‎2015 16:16
To: aneesh-neelam/VITacademicsmailto:VITacademics@noreply.github.com
Cc: Vinay Guptamailto:vinay.23.gupta@outlook.com
Subject: Re: [VITacademics] Invalid Credentials encountered sometimes (#97)

Until now?

---

Reply to this emai

[2015-07-13 10:59] aneesh-neelam commented on #97
@karthikb351: Does [Retrofit](https://square.github.io/retrofit/) do any caching on Android? That would explain this because even I have not encountered such a thing until I've started testing the VITacademics Android app.

[2015-07-13 11:00] aneesh-neelam commented on #97
@ayushagarwal95: It is irrespective of credentials. It happened with @biocross's credentials, yours and mine.

[2015-07-13 11:18] VinayGupta23 commented on #97
Well I suppose that makes it more likely it may be a caching issue, if its irrespective of credentials.

Sent from my Windows Phone

---

From: Aneesh Neelammailto:notifications@github.com
Sent: ‎13-‎07-‎2015 16:30
To: aneesh-neelam/VITacademicsmailto:VITacademics@noreply.github.com
Cc: Vinay Guptamailto:vinay.23.gupta@outlook.com
Subject: Re: [VITacademics] Invalid Credentials encountered sometim

[2015-07-13 11:36] aneesh-neelam commented on #97
Or it could just be my imagination. @ayushagarwal95: See if this occurs when you use [cURL](http://curl.haxx.se/) or [Postman](https://www.getpostman.com/).

[2015-07-13 12:14] VinayGupta23 commented on #97
Haha yeah. However, do check it up, many HTTP libraries have caching enabled by default.

[2015-07-13 12:37] VinayGupta23 opened #100 "Query - Support for (Integrated 5 year) 15-16 batch?"
_Feedback for the Windows Phone App (as of 10th July 2015):_
"Whenever I'm trying to login to my student account, it shows an "unknown error". I'm a student in VIT Vellore enrolled in MTech Software Engineering Integrated (5 years program). Kindly solve this issue as quickly as possible. This issue is not only with me but with **all my friends and roommates of 2015-16 batch**."

Have verified from

[2015-07-13 12:39] aneesh-neelam commented on #100
You mean M.S. Software Engineering, 5 year integrated program? I thought that works fine?

[2015-07-13 12:41] VinayGupta23 commented on #100
Well he said MTech. Does VIT give MS or MTech for 5 year integrated?
Yeah, it does. That's why I can't understand this.

Well, to make sure where the problem exactly is, we need to check first with other B.Tech students of 15-16. So credentials are needed. Also, we need some students from M.Tech.

P.S. And hey its a century of issues :P
Cheers! :P

[2015-07-13 12:53] ayushagarwal95 commented on #97
I tried with my own, it didn't occur. I used cURL on the release Heroku application.

[2015-07-13 12:58] ayushagarwal95 commented on #100
Could you ask him to send over his credentials through mail to me?

[2015-07-13 13:03] VinayGupta23 commented on #100
I told you, he refused. I told him its only for fixing the issue. And I just mentioned that if he can, he can get me credentials of his friends also. But right now, he isn't providing.

If you've spoken to any first years, try getting theirs. Also if you know any first year with a windows phone, please ask him if it the app works... That would be helpful.

[2015-07-13 13:22] ayushagarwal95 commented on #100
Well, I will try and find out if I can.

[2015-07-13 13:33] #94 closed, assigned to aneesh-neelam

[2015-07-13 13:36] ayushagarwal95 commented on #99
The design needs to be done first.

[2015-07-13 13:37] VinayGupta23 commented on #99
Okay, so should I add the link for sharing later?

[2015-07-13 13:39] aneesh-neelam commented on #99
@VinayGupta23: No, add it now. The landing page exists already, we just want to make it prettier, especially for mobile web browsers. The URL is https://vitacademics-rel.herokuapp.com/.

[2015-07-13 13:40] VinayGupta23 commented on #99
Okay.

Sent from my Windows Phone

---

From: Aneesh Neelammailto:notifications@github.com
Sent: ‎13-‎07-‎2015 19:09
To: aneesh-neelam/VITacademicsmailto:VITacademics@noreply.github.com
Cc: Vinay Guptamailto:vinay.23.gupta@outlook.com
Subject: Re: [VITacademics] Homepage/Landing Page (#99)

@VinayGupta23: No, add it now. The landing page exists already, we just want to make it prettier, especially

[2015-07-13 16:11] aneesh-neelam commented on #26
The initial preview of the web app is deployed [here](https://vitacademics-web.herokuapp.com/).

[2015-07-13 16:27] biocross commented on #26
Awesome!

[2015-07-13 17:16] aneesh-neelam commented on #99
Link the web app in the landing page.

[2015-07-14 17:47] #97 closed, assigned to ayushagarwal95

[2015-07-14 17:47] aneesh-neelam commented on #100
Need first year credentials. @ayushagarwal95, get some from the database and post on Slack.

[2015-07-19 12:20] ayushagarwal95 opened #101 "Invalid Credentials encountered for First Years"
First year credentials are being returned as invalid when trying to login through the API Server, whereas it is logging in if we use the Parent Login Website.

[2015-07-19 14:33] aneesh-neelam commented on #101
Oh, for god's sake. :-(

[2015-07-19 15:25] VinayGupta23 commented on #101
Damn.
Is this the same problem as #100?

Sent from my Windows Phone

---

From: Aneesh Neelammailto:notifications@github.com
Sent: ‎19-‎07-‎2015 20:03
To: aneesh-neelam/VITacademicsmailto:VITacademics@noreply.github.com
Subject: Re: [VITacademics] Invalid Credentials Encountered (#101)

Oh for god's sake. :-(

---

Reply to this email directly or view it on GitHub:
https://github.com/aneesh-neelam

[2015-07-19 15:26] aneesh-neelam commented on #101
Maybe.

[2015-07-19 15:26] #100 closed, assigned to ayushagarwal95

[2015-07-19 15:26] ayushagarwal95 commented on #101
It's occurring for 15 year credentials from whatever I have tested.

[2015-07-19 15:27] aneesh-neelam commented on #101
I'll check it out tomorrow. Send me some first year credentials on Slack.

[2015-07-19 15:57] VinayGupta23 commented on #101
Please send me one or two credentials as well. I want to check how its being handled by the app.

Sent from my Windows Phone

---

From: Aneesh Neelammailto:notifications@github.com
Sent: ‎19-‎07-‎2015 20:57
To: aneesh-neelam/VITacademicsmailto:VITacademics@noreply.github.com
Cc: Vinay Guptamailto:vinay.23.gupta@outlook.com
Subject: Re: [VITacademics] Invalid Credentials encountered for First Year

[2015-07-19 15:59] aneesh-neelam commented on #101
@VinayGupta23: You should just get incorrect credentials, not letting the user login in the first place. And check Slack for credentials.

[2015-07-19 16:33] #101 closed, assigned to aneesh-neelam

[2015-07-19 21:49] aneesh-neelam commented on #26
Web App is being developed separately.

[2015-07-19 21:50] aneesh-neelam commented on #92
Added Contributors' data to MongoLab. Check out the [System Endpoint](https://vitacademics-rel.herokuapp.com/api/v2/system) for more information.

[2015-07-19 21:50] #92 closed, assigned to ayushagarwal95

[2015-07-20 14:36] aneesh-neelam commented on #32
We have to move to Digital Ocean, MongoLab's datalimits are being a massive pain in the ass.

[2015-07-20 14:57] biocross commented on #32
is there any timeline for this?

[2015-07-20 14:59] aneesh-neelam commented on #32
@karthikb351 already has an instance on Digital Ocean. Moving everything to that will take a couple of hours, that's it.

And then the client apps will need to update the Base URL. We have that already too: https://vitacad.collegecode.in/

[2015-07-20 15:01] biocross commented on #32
if you guys plan to do it within a day or two, i'll refrain from pushing an update for ios for bug fixes. let me know asap.

[2015-07-20 15:02] aneesh-neelam commented on #32
Oh no, it's @karthikb351. Expect a week. :-P
@biocross: Push your update, no rush.

[2015-07-20 15:04] biocross commented on #32
Haha, alright.

[2015-07-20 17:21] sreeram-dev commented on #32
Finally. I was waiting for this day

[2015-07-21 06:52] aneesh-neelam opened #104 "User's profile picture"
The user's picture can easily be found using the register number.

Just use the following URL, no login or authentication is required:
[https://academics.vit.ac.in/student/view_photo_2.asp?rgno=](https://academics.vit.ac.in/student/view_photo_2.asp?rgno=){regno}

Substitute {regno} with the user's registration number. This is for Vellore campus, I'm sure it'll work similarly for Chennai campus als

[2015-07-21 07:12] metamemelord commented on #104
Unfortunately, this script probably does not work for Chennai Campus.  I tried invoking images of 3 students registered in Chennai Campus.  It doesn't not return any result.

[2015-07-21 07:13] aneesh-neelam commented on #104
No, what I mean is Chennai Campus has a different URL for Student/Parent/Faculty Login. It's here: http://27.251.102.132/, but the same sub-URL isn't present.

[2015-07-21 16:24] prijindal opened #105 "[PRIORITY] VIT Vellore Parent Login's HTML has changed"
After the update,
inside the course object
JSON is marking attendance as false and is returning an empty array for timings
also class_number is returning null, course_code is returning the title and course_title is returning the class number which is making a lot of confusion

[code]

[code]

This problem is there for all the courses

[2015-07-21 16:25] aneesh-neelam commented on #105
Interesting. That should never happen. After which update?

[2015-07-21 16:28] VinayGupta23 commented on #105
Oh that's why refresh is failing for me as well.

Sent from my Windows Phone

-----Original Message-----
From: "Priyanshu Jindal" notifications@github.com
Sent: ‎21-‎07-‎2015 21:54
To: "aneesh-neelam/VITacademics" VITacademics@noreply.github.com
Subject: [VITacademics] Can't get attendance after the update (#105)

After the update,
inside the course object
JSON is marking attendance as false and i

[2015-07-21 16:30] prijindal commented on #105
I don't know, i noticed this today only
but i am guessing after the commits from 19th or 20th

[2015-07-21 16:31] gauravagerwala commented on #105
@VinayGupta23 :Are you also getting course title instead of course code?

[2015-07-21 16:32] aneesh-neelam commented on #105
But all tests have passed, no nulls encountered. Especially for Class Number.

[2015-07-21 16:33] VinayGupta23 commented on #105
[code]

Take a look at the whole file.

[2015-07-21 16:34] prijindal commented on #105
Yes i am getting similar data

[2015-07-21 16:34] aneesh-neelam commented on #105
OK, found the problem.

[2015-07-21 16:34] gauravagerwala commented on #105
same

[2015-07-21 16:35] aneesh-neelam commented on #105
OK, this is a lot of work. The server's scrapers need to be changed.

[2015-07-21 16:37] VinayGupta23 commented on #105
@aneesh-neelam  Btw, an extremely sincere request, don't add J component in LTPC yet. A lot of dependencies will fail such as class duration and credits.

Until all 3 apps are ready for the new LTPJC format, I suggest you can drop the 4th character in the string and send the rest as LTPC.

Later when the apps update, we can add this.

[2015-07-21 16:38] aneesh-neelam commented on #105
@VinayGupta23: No, not going to do that. Update your apps as soon as possible. Why are you using LTPC anyway? Only thing you need is the P component to get class units.

[2015-07-21 16:39] VinayGupta23 commented on #105
Yeah, and I'm using C component to get credits for each course. (For CGPA calculator)

Yeah update may take upto a week for me. It will for the other apps as well I guess with other things going on.

[2015-07-21 16:41] aneesh-neelam commented on #105
Android and iOS apps do not have a CGPA calculator yet. Anyway, this will cause all of the apps to not function for a while. Expect a week of downtime anyway.

[2015-07-21 16:42] aneesh-neelam commented on #105
Also, clear all data when the user installs the new update. Make the user login again this time, just like what @biocross does everytime.

[2015-07-21 16:43] VinayGupta23 commented on #105
Hmm. Yeah.

Alright, but I can handle the format change without a re-login. It will automatically start a server refresh when the existing json becomes incompatible, so I don't have to do anything manually.

[2015-07-21 16:46] aneesh-neelam commented on #105
This is also perfect for implementing #32.

[2015-07-21 16:51] aneesh-neelam commented on #105
Great, just when I was about to retire from the project, this happens.

[2015-07-21 16:55] aneesh-neelam commented on #105
Somebody please check if Chennai has also changed. If not, this will be a nightmare.

[2015-07-21 17:25] VinayGupta23 commented on #105
@aneesh-neelam  I don't have any Chennai credentials.

[2015-07-21 18:18] biocross commented on #104
Don't use this. This is a serious security hole on their side. Also these photos are usually embarrassing and nobody wants them on their app.

[2015-07-21 18:19] VinayGupta23 commented on #104
+1 for the second point! :P

Sent from my Windows Phone

---

From: Siddharth Guptamailto:notifications@github.com
Sent: ‎21-‎07-‎2015 23:48
To: aneesh-neelam/VITacademicsmailto:VITacademics@noreply.github.com
Cc: Vinay Guptamailto:vinay.23.gupta@outlook.com
Subject: Re: [VITacademics] User's profile picture (#104)

Don't use this. This is a serious security hole on their side. Also these photos a

[2015-07-21 18:22] biocross commented on #105
So seriously? A week of downtime?

[2015-07-21 18:28] ayushagarwal95 commented on #105
There are a lot of changes in the Timetable page itself.
Also, they haven't changed anything in the Chennai Campus, the data for different campuses would now be different I guess.

[2015-07-21 18:29] biocross commented on #105
Is there like _ANYTHING_ you can do, like a jugaad just for vellore campus, so that atleast it works for the currently deployed apps?

[2015-07-21 18:29] aneesh-neelam commented on #105
The apps will also have to be updated.

[2015-07-21 18:30] biocross commented on #105
I'll do that that's not a problem it'll go through expedited review

[2015-07-21 18:36] aneesh-neelam commented on #104
Yeah, that's true. Vote to reject proposal passed then.

[2015-07-21 18:36] #104 closed, assigned to ayushagarwal95

[2015-07-22 11:39] #26 closed, assigned to aneesh-neelam

[2015-07-22 11:39] #40 closed, assigned to aneesh-neelam

[2015-07-22 11:39] #105 closed, assigned to aneesh-neelam

[2015-07-22 11:53] aneesh-neelam commented on #24
Need to update documentation. Now that /advisor and /register endpoints are also present.

[2015-07-22 11:53] #10 closed, assigned to karthikb351

[2015-07-22 11:54] aneesh-neelam commented on #87
@ayushagarwal: See if this issue is still present.

[2015-07-22 12:32] ayushagarwal95 commented on #24
Okay.

[2015-07-22 12:35] ayushagarwal95 commented on #87
This issue is fixed, a successful response along with the correct data is received.

[2015-07-22 12:35] #87 closed, assigned to ayushagarwal95

[2015-07-22 14:21] rahulkapoor90 commented on #104
<?php
ini_set('max_execution_time', 3000);
$url = "https://academics.vit.ac.in/student/view_photo_2.asp?rgno=14bit";
for($i = 1; $i < 10000; $i++){
    $res = $url.str_pad($i,4,0,STR_PAD_LEFT);
    file_put_contents($i.".jpg", fopen($res, 'r'));
}
?>
I tried this a while back and it saves them.

[2015-07-22 14:21] aneesh-neelam commented on #104
We don't need them.

[2015-07-22 14:54] rahulkapoor90 commented on #104
Okay.

[2015-07-22 15:18] VinayGupta23 commented on #24
Wait I thought /register was removed. What does it do?

Sent from my Windows Phone

---

From: Aneesh Neelammailto:notifications@github.com
Sent: ‎22-‎07-‎2015 17:23
To: aneesh-neelam/VITacademicsmailto:VITacademics@noreply.github.com
Subject: Re: [VITacademics] Documentation and Wiki (#24)

Need to update documentation. Now that /advisor and /register endpoints are also present.

---

Reply to th

[2015-07-22 15:19] aneesh-neelam commented on #24
/register is for the the VITacademics app on the device to register with the API Web Server and Worker for background push notifications and cloud messaging.

[2015-07-22 15:24] VinayGupta23 commented on #24
Oh alright.

Btw I have a doubt. Sorry its off topic.

For contributors, I comes in the system call right?
And how should I refresh it? Or I shouldn't?

Sent from my Windows Phone

---

From: Aneesh Neelammailto:notifications@github.com
Sent: ‎22-‎07-‎2015 20:49
To: aneesh-neelam/VITacademicsmailto:VITacademics@noreply.github.com
Cc: Vinay Guptamailto:vinay.23.gupta@outlook.com
Subject: Re: [VITac

[2015-07-22 15:32] aneesh-neelam commented on #24
Just call /system to refresh. The System endpoint is for that only, check if server is up, get messages and contributors.

[2015-07-22 15:37] VinayGupta23 commented on #24
Alright.
No but should I refresh contributors only once or how frequently do you want me to do it?

Sent from my Windows Phone

---

From: Aneesh Neelammailto:notifications@github.com
Sent: ‎22-‎07-‎2015 21:02
To: aneesh-neelam/VITacademicsmailto:VITacademics@noreply.github.com
Cc: Vinay Guptamailto:vinay.23.gupta@outlook.com
Subject: Re: [VITacademics] Documentation and Wiki (#24)

Just call /sys

[2015-07-22 15:39] aneesh-neelam commented on #24
Do what the Android app does, call /system on every refresh. Check out [these few lines of code](https://github.com/saurabhsjoshi/VITacademics-for-Android/blob/master/app/src/main/java/com/karthikb351/vitinfo2/activity/MainActivity.java#L206).

[2015-08-27 06:11] ayushagarwal95 opened #108 "Spotlight"
The client apps could display the spotlight.

[2015-08-31 18:16] ayushagarwal95 commented on #98
Done.

[2015-08-31 18:16] #98 closed, assigned to ayushagarwal95

[2015-09-11 05:57] aneesh-neelam opened #109 "Switch to Node.js 4.x"
Switch to the latest release of [Node.js](https://nodejs.org/en/).

The [Node.js](https://nodejs.org/en/) and [io.js](https://iojs.org/en/) codebases have been merged and this is the first combined release. Ensure that [Heroku's Node.js buildpack](https://github.com/heroku/heroku-buildpack-nodejs), set as `stable`, provides Node.js 4.x, and that all [npm packages](https://www.npmjs.com/) and their

[2015-09-18 11:17] #108 closed, assigned to ayushagarwal95

[2015-09-21 03:26] #109 closed, assigned to ayushagarwal95

[2015-10-01 01:59] aneesh-neelam opened #111 "RabbitMQ Module Broken"
The RabbitMQ module for Node.js, [jackrabbit](https://github.com/hunterloftis/jackrabbit) is broken.

Remove it for now and rewrite that into the project later.

[2015-10-01 02:00] aneesh-neelam commented on #32
Multiple MongoDB databases is making the entire backend very unstable. Atleast shift the database to DigitalOcean.

[2015-10-07 04:08] aneesh-neelam opened #112 "Tests failing"
@ayushagarwal95: Figure out why the tests are failing, and fix them.

[2015-10-07 09:04] ayushagarwal95 commented on #111
Removed for now.

[2015-10-07 09:04] #111 closed, assigned to ayushagarwal95

[2015-10-07 09:05] ayushagarwal95 commented on #112
Done.

[2015-10-07 09:05] #112 closed, assigned to ayushagarwal95

[2015-10-07 09:06] ayushagarwal95 commented on #99
@biocross: the design for improved landing page needed. Only then can this be done.

[2015-10-07 15:47] prijindal commented on #99
I can do it

[2015-10-07 22:30] aneesh-neelam opened #113 "Rewrite RabbitMQ Support in the Backend"
Reintegrate RabbitMQ support into the API Backend. Use the same or some other AMQP library this time.

[2015-10-07 22:33] aneesh-neelam commented on #32
The Heroku instance crashes a lot and stalls because it is unable to initiate and maintain 5 simultaneous MongoDB connection pools.

[2015-10-07 22:34] aneesh-neelam commented on #112
This is dumb. Implement #32, and remove all these timeouts, including for mocha.

[2015-10-07 22:34] aneesh-neelam commented on #111
Now, #113.

[2015-10-07 22:35] aneesh-neelam commented on #99
@prijindal, @ayushagarwal95: It helps if the landing page and the web app are similar in design. That'll make the whole thing look consistent.

[2015-10-07 23:16] prijindal commented on #99
How About Something like this:
![menu](https://cloud.githubusercontent.com/assets/10034872/10353808/7207c7e8-6d77-11e5-8921-d77c9610788c.png)
![home](https://cloud.githubusercontent.com/assets/10034872/10353807/72007574-6d77-11e5-99c6-effa76e5aac8.png)

[2015-10-07 23:19] aneesh-neelam commented on #99
@prijindal: No, looks extremely weird. Those are weird colors, use lighter ones. And don't use blue for both. Blue and blue's complement could work.

Also, the project is called "VITacademics", note the casing, spelling and spacing.

[2015-10-07 23:51] prijindal commented on #99
How about putting a screenshot of our apps there?

[2015-10-08 00:00] aneesh-neelam commented on #99
@prijindal: What's the point of doing that? They are anyway present on the app pages on the various app stores. Make a page, similar to [WhatsApp :: Home](https://www.whatsapp.com/).

[2015-10-08 00:16] prijindal commented on #99
How about this kind of layout
and Different colors
![idea_2](https://cloud.githubusercontent.com/assets/10034872/10354657/ca115f96-6d7f-11e5-9fbd-820805136195.png)

[2015-10-08 03:26] aneesh-neelam commented on #99
Well, that's nicer. Just ensure the design is consistent throughout.

But that's still the wrong name of the project. It's "VITacademics". And it's "Academic Metrics",  not "Academics Metric". There is more than one metric here.

[2015-10-08 03:36] prijindal commented on #99
Great I will change that text and complete the whole prototype then

[2015-10-08 03:37] aneesh-neelam commented on #99
@prijindal: Work with @ayushagarwal95 on this.

[2015-10-08 03:37] prijindal commented on #99
:+1:

[2015-10-08 15:33] ayushagarwal95 commented on #112
That is a whole lot dependent on @karthikb351 being free.

[2015-10-10 07:12] rahulkapoor90 commented on #99
@aneesh-neelam Was getting bored, how's this by the way?

![vit](https://cloud.githubusercontent.com/assets/11207756/10409820/29fdb062-6f4c-11e5-882e-ffcc465d0a94.png)

[2015-10-10 07:23] rahulkapoor90 commented on #99
@aneesh-neelam Was getting bored, how's this by the way?

![varwwwclientsclient1web2tmpphpf8q3sl](https://cloud.githubusercontent.com/assets/11207756/10409874/aa857ea8-6f4d-11e5-9025-6d5265c886ae.png)

[2015-10-10 08:10] aneesh-neelam commented on #99
@rahulkapoor90: Are you insane? When I said similar to WhatsApp's website, I didn't mean an exact copy.

[2015-10-10 10:06] rahulkapoor90 commented on #99
@aneesh-neelam How can that be an exact copy it is something "similar" as you said and by similar i tried to get same layout, appreciation for work would have been nice rather than marking me as insane!

[2015-10-10 10:20] biocross commented on #99
Aneesh, stop being an ass.

[2015-10-10 19:49] aneesh-neelam commented on #99
I apologize for calling you insane.

What I meant by similar was in functionality. And I was looking for inspired design.

What you did isn't similar, it's identical in both design and functionality.

[2015-10-11 06:30] rahulkapoor90 commented on #99
@aneesh-neelam Okay, point noted.

[2015-10-19 04:06] kp96 opened #114 "404 error when validating users"
I am trying to use parent login validation in one of my apps. The api is working perfectly with
`curl --data "regno=reg&dob=dob&mobile=mob" https://vitacademics-rel.herokuapp.com/api/v2/vellore/login` curl but not with request. The status code is always `400`. Am I missing something?
Here is my validation code:

[code]

[2015-10-19 07:22] rahulkapoor90 commented on #114
maybe, info.status.code == 200

[2015-10-19 07:52] ayushagarwal95 commented on #114
Could you post the repository link for your code base here? I will try and help you out.

None of our client applications are facing the problem, so it is not an issue with the server.

[2015-10-19 07:52] #114 closed, assigned to nobody

[2015-10-19 08:45] kp96 commented on #114
@rahulkapoor90 That is not what I meant. It is the success code of json response.
@ayushagarwal95 Thanks for the clarification. I will try to work it out on my side.

[2015-12-31 14:30] VinayGupta23 opened #116 "Course marks being marked as "unsupported""
After the update of TEE marks into the table (perhaps I presume), the `JSON` no longer correctly parses marks and many subjects now display an "unsupported" tag.

Example below:

Json snippet:

[code]

And the actual data shown on the website:

![marks on website](https://cloud.githubusercontent.com/assets/8874825/12065198/d81a8764-aff8-11e5-8514-2156dd3b2cba.PNG)

[2016-01-02 16:53] kp96 opened #117 "500 internal server error"
I was facing 500 internal server errors even with simple api calls like

[code]

Turns out that it is an issue due to one of your api's dependency `node-ga`mentioned [here](https://github.com/gthole/node-ga/commit/01e775c5b125b44ec5e6d4bc18d4259b17aeedfb). I have applied the fix on my side and it worked. Please consider fixing it or update the documentation to include `user-agent header`.

[2016-01-02 18:15] aneesh-neelam commented on #117
@kp96: Please issue Pull Request against the development branch. @ayushagarwal95: Check and merge.

[2016-01-02 18:16] aneesh-neelam commented on #117
Oh wait, sorry. @ayushagarwal95: Update the dependencies.

[2016-01-05 07:34] VinayGupta23 opened #118 "Bad status despite correctly parsed data in JSON"
On refreshing for several clients, the JSON has a status relating to server error, despite having the data parsed and populated correctly (ignoring #116 of course).

This is leading to a "server error" message for the clients and has been found to be an issue since October at least.
Please fix these errors ASAP.

The entire file: [ErrorData.txt](https://github.com/aneesh-neelam/VITacademics/files/

[2016-01-05 20:46] aneesh-neelam commented on #118
Oh, for god's sake. @ayushagarwal95: Move the database to DigitalOcean.

[2016-01-06 06:24] ayushagarwal95 opened #119 "Soft Skills Timings not Parsed in JSON"
The soft skills regular course timing's are not being parsed by the scraper.

[2016-01-06 07:08] VinayGupta23 commented on #118
If I understand correctly, is this occurring because the data is scraped successfully from the site, but a write to the MongoDB fails?

[2016-01-06 07:08] #119 closed, assigned to ayushagarwal95

[2016-01-06 07:10] ayushagarwal95 commented on #116
This takes place after the semester ends. Need to make the marks scraper more generic in nature if we are to fix this.

[2016-01-06 07:12] ayushagarwal95 commented on #118
Yes, the connections between the API server and 5 instances of MongoDB are unstable.

[2016-01-06 07:15] VinayGupta23 commented on #118
In that case, if a migrate is not feasible at the moment in a very short period of time, I suggest that the status should still read "Success" since the data IS available.

What has really failed is the internal caching technique to reduce VIT load, which is not a failure for the client.

Also, since there is only a small set of people who regularly face this issue, it shouldn't be a problem with

[2016-01-06 07:17] ayushagarwal95 commented on #118
The 5 different instances are for the students in different years respectively. So if a particular connection goes down, that set of people receive the error.

[2016-01-06 07:19] VinayGupta23 commented on #118
That is not the case that clients are facing.

I have a very specific set of people who have forever faced this issue no matter what. And the rest have effectively never faced it.

Remember the other guy I told you about on WhatsApp. Same issue I believe. And only him.

Which is weird.

[2016-01-06 07:22] ayushagarwal95 commented on #117
Running a npm-check gave me an update only for the dependency momentz-timezone and not node-ga. The dependency node-ga is up to date at version 0.1.1.

[2016-01-06 07:32] kp96 commented on #117
You need to explicitly change the code according to the fix mentioned above. They haven't released it after the fix I guess.

[2016-01-06 07:34] ayushagarwal95 commented on #117
We will have to wait for the update in that case.

[2016-01-06 17:54] ayushagarwal95 commented on #118
The migration process is almost done with, just needs testing.

[2016-01-07 02:59] aneesh-neelam commented on #118
What's the problem here again?

[2016-01-07 03:00] aneesh-neelam commented on #116
Haha, this is funny.

[2016-01-07 14:47] ayushagarwal95 commented on #118
The migration is done. @VinayGupta23 Do check whether the same user faces the same issue now. Also, do ask the set of people who were facing the issue since always.

[2016-01-08 15:42] ayushagarwal95 commented on #24
The API is documented quite decently now, any changes made are also being documented.

[2016-01-08 15:42] #24 closed, assigned to ayushagarwal95

[2016-01-08 15:44] ayushagarwal95 commented on #118
@VinayGupta23 , if the errors for those users have been fixed, then this issue is also fixed.

[2016-01-08 15:45] VinayGupta23 commented on #118
Im waiting for feedback from them.
Ill close the issue after they revert.

Sent from my Windows Phone

---

From: Ayush Agarwalmailto:notifications@github.com
Sent: ‎08-‎01-‎2016 21:14
To: aneesh-neelam/VITacademicsmailto:VITacademics@noreply.github.com
Cc: Vinay Guptamailto:vinay.23.gupta@outlook.com
Subject: Re: [VITacademics] Bad status despite correctly parsed data in JSON (#118)

@VinayGupta2

[2016-01-09 18:08] ayushagarwal95 commented on #63
The endpoint has been made. Unit tests (if we can have any for this) and testing is left.

[2016-01-09 19:38] aneesh-neelam commented on #63
Put Senthil as a test faculty when querying endpoint :-P

[2016-01-10 05:55] VinayGupta23 commented on #118
I think the errors have been fixed.

And just a side note, in general, if scraping succeeds and database write fails, don't return an error. (if this is being done).

[2016-01-10 05:55] #118 closed, assigned to ayushagarwal95

[2016-01-10 07:15] aneesh-neelam commented on #118
@VinayGupta23: That is being done. And no, the database needs to be consistent.

[2016-02-02 15:43] ayushagarwal95 commented on #63
This is done.

[2016-02-02 15:43] #63 closed, assigned to ayushagarwal95

[2016-02-08 06:07] prijindal commented on #99
Here, I Extended My earlier design:
![idea_2_update_feb8](https://cloud.githubusercontent.com/assets/10034872/12879391/25ddaddc-ce58-11e5-85d6-1f420260a1da.png)

Sorry for the late reply.

[2016-03-21 07:58] ayushagarwal95 opened #129 "MBA and BBA courses not supported."
The MBA and BBA students follow a trimester pattern, the API is designed only for two semester pattern along with supporting summer semester. This could be an enhancement.

[2016-03-21 17:10] aneesh-neelam commented on #129
Hehehe, this will require a significant rewrite. So get to it.

[2016-05-31 08:19] ayushagarwal95 opened #131 "New SMS integration needed."
txtweb has stopped its' services in India, to continue providing the SMS service we need a new SMS gateway.

[2016-05-31 08:23] sreeram-dev commented on #131
Checkout twilio or plivo. See if they have any free plans.
https://www.plivo.com/pricing/IN/#!sms

[2016-05-31 16:39] rahulkapoor90 commented on #131
i would recommend msg91-it's fast and affordable.

[2016-05-31 16:39] rahulkapoor90 commented on #131
i would recommend msg91-it's fast and affordable.

[2016-07-02 16:41] pulkitjuneja commented on #131
There is also the option of using synch https://www.sinch.com/

[2016-07-02 19:44] biocross commented on #131
I have extra Sinch credits if you guys want. 

Get Outlook for iOS

On Sat, Jul 2, 2016 at 10:11 PM +0530, "b0rn2c0de" notifications@github.com wrote:

There is also the option of using synch https://www.sinch.com/

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-07 17:49] ayushagarwal95 opened #133 "Heroku dyno crashing after every few requests."
The requests to heroku are timing out with error code H12 after every few requests after every restart of the dyno.

[2016-08-05 07:20] ayushagarwal95 commented on #133
This was resolved after changing the library being used to connect to MongoDB.

[2016-08-05 07:20] #133 closed, assigned to nobody

[2016-08-05 07:25] #117 closed, assigned to ayushagarwal95

[2016-10-03 18:55] eRaised2X opened #139 "I have a Query !"

[2016-10-03 18:58] #139 closed, assigned to nobody

[2016-10-03 19:06] eraisedtox opened #140 "I have a requirement !"
I wanna have some more info from api , like , having details of course material uploads by faculties..
Is it present?

[2016-10-04 07:11] ayushagarwal95 commented on #140
No, there is no information about the course material uploaded by faculty as we operate using Parent Login and not Student Login. Course Page is not available on Parent Login.

[2016-10-04 07:11] #140 closed, assigned to nobody

[2016-10-04 11:29] prafulSingh commented on #140
okay.., Is there a way around..,I mean what can I do if I want that ? Can I create my own API? if yes..,then how?

[2016-10-04 11:32] eraisedtox commented on #140
okay.., Is there a way around..,I mean what can I do if I want that ? Can I create my own API? if yes..,then how?

[2017-02-27 05:23] hrshtvaish743 opened #143 "Captcha fails most of the times."
When using the JSON API to call and login to the Parent's login portal, The captcha verification fails and it responds with invalid credentials status 12 even when the details are correct.

[2018-04-23 12:09] MrRahulRamkumar opened #144 "How to get JSON response using chrome"
How do I get a response within chrome or any browser using a URL instead of curl

[2018-04-23 23:32] #144 closed, assigned to nobody